<div class="prefix-wrap">
  <span ng-click="vm.toggleList()" class="prefix"><s>+</s>{{vm.prefix.value}}<svg class="icon" aria-hidden="true"><use xlink:href="#icon-xiajiantou"></use></svg></span>
  <div class="prefix-container"  ng-if="vm.listStatus">
    <h1 class="page-title">
      <svg class="icon" aria-hidden="true"  ng-click="vm.toggleList()" ><use xlink:href="#icon-arrow-left-"></use></svg>
      手机号归属地
    </h1>
    <ul class="prefix-list">
      <li ng-repeat="p in vm.prefixArray" ng-click="vm.selectPrefix(p)">
        <span ng-bind="p.name"></span>
        <span>+{{p.value}}</span>
      </li>
    </ul>
  </div>
</div>
