<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>求职学堂</title>
    <meta name="description" content="">

    <link rel="stylesheet" href="//at.alicdn.com/t/font_302276_1jcj0dyu7tbotj4i.css">

    <script src="http://static.careerfrog.com.cn/cf-college/scripts/vendor-flexible.f238aaa2.js"></script>
    <!-- <script src="http://static.careerfrog.com.cn/cf-college/scripts/go-wechat-qa-style.af3325cb.js"></script> -->
    <link rel="stylesheet" href="http://static.careerfrog.com.cn/cf-college/scripts/go-wechat-qa-style.58cfdefa.css">
  </head>
  <body>
    <div class="subscribe-wx">
      <h1 class="page-title">
        <i class="iconfont icon-arrow-left-" aria-hidden="true" onclick="window.history.back()"></i>
        提问成功，绑定服务号接收解答
      </h1>

      <div class="subscribe-wx-content">

        <div class="wx-image">
<img src="https://mp.weixin.qq.com/cgi-bin/showqrcode?ticket=gQEy8TwAAAAAAAAAAS5odHRwOi8vd2VpeGluLnFxLmNvbS9xLzAydno2YWdQSFZmMmgxMDAwMDAwN1oAAgTtXZZZAwQAAAAA" alt="">
        </div>
        <div class="wx-description">
          <p>长按二维码，关注「求职学堂小助手」服务号</p>
          <p>48小时内专业解答推给你</p>
        </div>
      </div>
    </div>


  </body>
</html>
