<div class="popover-container">
  <a ng-click="vm.toggle($event)" class="more-btn">更多 <span class="glyphicon glyphicon-menu-down"></span></a>
    <ul class="location-list" ng-show="vm.flag">
      <p class="country-tab clearfix">
        <a ng-bind="c.name" class="country-name" ng-click="vm.selectCountry(c, $event)" ng-repeat="c in vm.allLocationTag"></a>
      </p>
      <li ng-repeat="c in vm.provinceList" class="country">
        <ul class="city-group">
          <li ng-repeat="cs in c.cityByGroup" class="clearfix">
            <span ng-bind="c.cityGroup[$index]"></span>
            <ul class="city-list clearfix">
              <li ng-repeat="c in cs" ng-click="vm.selectLocation(c)">
                <a >{{c.name}}</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
</div>
