<!DOCTYPE html>
<html>

<head>
  <title>2018环英校招嘉年华</title>
  <meta charset="utf-8">
  <meta name="description" content="名校环英30天，走进15余所顶尖名校，宣讲企业文化，精选名企职位投递，直达HR邮箱">
  <meta name="keywords" content="环英,校招,名企,名校,留学生,500强,全英,校园招聘,毕业生">

  <script src="/scripts/uk-idp-home-page-pc-style.js"></script>
</head>

<body>
  <section class="banner">
    <div class="banner-logo">
      <img src="/images/university-tour/banner-IDP-PC.jpg" alt="">
    </div>
    <div class="banner-intro clearfix">
      <div class="banner-intro-content">
        <div class="banner-intro-pic"></div>
        <ul>
          <li>活动时间</li>
          <li>10月1日 - 10月30日</li>
        </ul>
      </div>
      <div class="banner-intro-content">
        <div class="banner-intro-pic"></div>
        <ul>
          <li>活动内容</li>
          <li>走进10+英国名校</li>
        </ul>
      </div>
    </div>
    <div class="banner-brief">
      <div class="banner-brief-title">
        一年仅此一次，不可错过<br/> 英国留学生专属求职盛宴
      </div>
      <div class="banner-brief-entry-wrap">
        <div class="banner-brief-entry clearfix ">
          <label for=""></label>
          <div>20+全球豪企阵容，100+职位内推绿色通道，大量名额直拿OT／免笔试／直通面试</div>
        </div>
        <div class="banner-brief-entry clearfix">
          <label for=""></label>
          <div>英国留学生专属投递通道，现场面试，OFFER直发</div>
        </div>
        <div class="banner-brief-entry clearfix">
          <label for=""></label>
          <div>现场亲密接触资深职业规划导师，英国留学生专属求职集训</div>
        </div>
      </div>

    </div>
  </section>
  <section class="nav-content">
    <div class="companies nav-entry" id="companies">
      <div class="nav-content-title"><span>职位投递</span></div>
      <img class="company-intro" src="/images/university-tour/company-intro-pc.png" alt="">
      <div class="company-header">复星集团领衔，现场面试，直发OFFER</div>
      <ul class="company-list clearfix">
        <a class="company" href="/university_tour/company/3155" target="_blank">
          <div class="avatar" style="background-image: url('/images/university-tour/fuxing.png')"></div>
          <div class="company-info">
            <span class="company-name">复星集团</span>
            <span class="company-desc">全球领先的投资集团</span>
          </div>
        </a>
        <a class="company" href="/university_tour/company/9262" target="_blank">
          <div class="avatar" style="background-image: url('/images/university-tour/ge.png')"></div>
          <div class="company-info">
            <span class="company-name">通用电气（GE）</span>
            <span class="company-desc">全球最大数字工业公司</span>
          </div>
        </a>
        <a class="company" href="/university_tour/company/19051" target="_blank">
          <div class="avatar" style="background-image: url('/images/university-tour/bain.png')"></div>
          <div class="company-info">
            <span class="company-name">贝恩咨询</span>
            <span class="company-desc">全球领先的战略咨询公司</span>
          </div>
        </a>
      </ul>
      <div class="company-header">独家战略合作企业，大量免网申、免笔试内推机会</div>
      <ul class="company-list clearfix scroll-top-anchor" id="otherCompanies">
        <a class="company" style="display:none" target="_blank">
          <div class="avatar"></div>
          <div class="company-info">
            <span class="company-name"></span>
            <span class="company-desc"></span>
          </div>
        </a>
      </ul>
    </div>
    <div class="schedule nav-entry" id="schedule">
      <div class="nav-content-title"><span>十月全英校园行程表</span></div>
      <div class="schedule-wrap">
        <div class="schedule-title">2018环英校招嘉年华</div>
        <img src="/images/university-tour/schedule-pc.png" alt="">
        <a href="https://jinshuju.net/f/H2n0ei" id="apply-now" class="apply-now">立即报名参与</a>
      </div>
    </div>
    <div class="routine nav-entry clearfix" id="routine">
      <div class="nav-content-title"><span>各站点活动流程表</span></div>
      <div class="routine-section">
        <div class="routine-title">
          <img src="/images/university-tour/title1-PC.png" alt="">
        </div>
        <ul class="routine-content">
          <li><span class="label">a.</span>国内就业形势及发展趋势分析</li>
          <li><span class="label">b.</span>英国留学生就业优劣势分析</li>
          <li><span class="label">c.</span>热门行业科普：投行、咨询、四大、快消、互联网企业现状，薪酬，晋升</li>
          <li><span class="label">d.</span>量身定制英国留学生职业规划</li>
        </ul>
        <img src="/images/university-tour/routine1.jpg" alt="" class="mid-pic">
        <div class="routine-title">
          <img src="/images/university-tour/title3-PC.png" alt="">
        </div>
        <ul class="routine-content">
          <li>复星集团：投资类管理培训生（星冉生）</li>
          <li>通用电气：全球财务管培生</li>
          <li>贝恩咨询：初级咨询师、咨询助理</li>
        </ul>
        <div class="routine-tip">*具体宣讲与面试环节根据不同企业和学校站点实际情况安排</div>
      </div>

      <div class="routine-section">
        <div class="routine-title">
          <img src="/images/university-tour/title2-PC.png" alt="">
        </div>
        <ul class="routine-content">
          <li><span class="label">a.</span>
            <div>热门专业的以及本校校友就业去向介绍</div>
          </li>
          <li><span class="label">b.</span>
            <div>
              英国留学生求职申请环节详解，如何抓住留英、回国关键时间节点
              <img src="/images/university-tour/routine2.png" alt="" class="routine-pic2">
            </div>

          </li>
        </ul>
      </div>
    </div>
    <div class="acknowledgement nav-entry" id="acknowledgement">
      <div class="nav-content-title"><span>主办方与合作单位</span></div>
      <div class="ac-first-row">
        <div>
          <div class="ac-content-title"><span>主办方</span></div>
            <div class="ac-company">
              <img src="/images/university-tour/careerfrog-logo1.jpg" alt=""> 职业蛙 CareerFrog
            </div>
        </div>
        <div>
          <div class="ac-content-title"><span>协办方</span></div>
          <div class="clearfix">
            <div class="ac-company-wrapper">
              <div class="ac-company">
                <img src="/images/university-tour/IDP-logo.jpg" alt=""> IDP诺思留学
              </div>
            </div>
            <div class="ac-company-wrapper">
              <div class="ac-company">
                <img src="/images/university-tour/st-logo.jpg" alt=""> STUDENT.COM
              </div>
            </div>
            <div class="ac-company-wrapper">
              <div class="ac-company">
                <img src="/images/university-tour/bangyang-logo.jpg" alt=""> 榜样网
              </div>
            </div>

          </div>
        </div>
        <!-- <div>
          <div class="ac-content-title"><span>指导单位</span></div>
          <div class="ac-company">
            <img src="/images/university-tour/zhangjiang-logo.jpg" alt=""> 张江人才培养与交流平台
          </div>
        </div> -->
      </div>
      <div class="ac-second-row">
        <div class="ac-content-title"><span>各大学联</span></div>
        <div class="college-names clearfix">
          <div>伦敦大学学院中国学生学者联谊会</div>
          <div>牛津中国学生学者联谊会</div>
          <div>利物浦中国学生学者联谊会</div>
          <div>兰卡斯特大学中国学生学者联谊会</div>
          <div>伦敦帝国学院中国学生学者联谊会</div>
          <div>剑桥中国学生学者联谊会</div>
          <div>埃克塞特中国学生学者联谊会</div>
          <div>拉夫堡中国学生学者联谊会</div>
          <div>伦敦政经中国发展社团</div>
          <div>华威大学中国发展社团</div>
          <div>杜伦大学中国学生学者联谊会</div>
          <div>卡迪夫中国学生联合会</div>
          <div>伦敦国王学院中国学联</div>
          <div>巴斯中国学生学者联谊会</div>
          <div>布里斯托中国学生学者联谊会</div>
          <div>曼彻斯特中国学生学者联谊会</div>
          <div>伦敦大学城市学院中国学生学者联谊会</div>
          <div>伯明翰中国学生学者联谊会</div>
          <div>诺丁汉中国学生学者联谊会</div>
          <div>CASS华人求职社</div>

        </div>
      </div>
      <img src="/images/university-tour/college-logo-pc.jpg" alt="" style="width:100%" class="college-logo">
    </div>
  </section>
  <section class="footer">
  </section>
  <div class="scroll-to-top">
    <img src="/images/university-tour/scroll-to-top.png" alt="">
  </div>
  <a class="toolbar" id="toolbar" href="https://jinshuju.net/f/H2n0ei">

    <div class="msg">
      <div class="msg-wrapper"> 立即报名参与
        <div class="scale-cover"></div>
      </div>
    </div>
  </a>
  <a class="qr-chat-icon" id="qr-chat-icon" href="https://jinshuju.net/f/H2n0ei">click</a>
  <script>
    window.API_BASE_URL = '<%= API_BASE_URL %>';
    window.BASE_URL = '<%= BASE_URL %>';
  </script>

  <script src="/scripts/uk-idp-home-page-pc-main.js"></script>
</body>

</html>
