<div class="calendar">
  <h1 class="choose-year">
    <svg ng-click="vm.subtractYear()" class="icon" ng-class="{'disabled': vm.selectedYear === vm.yearsArray[0]}" aria-hidden="true"><use xlink:href="#icon-zuojiantou-"></use></svg>
    <span ng-bind="vm.selectedYear"></span>
    <svg ng-click="vm.plusYear()" class="icon" ng-class="{'disabled': vm.selectedYear === vm.yearsArray[1]}" aria-hidden="true"><use xlink:href="#icon-youjiantou-"></use></svg>
  </h1>
  <div class="months-wrap">
    <ul class="months">
      <li ng-repeat="m in vm.monthArray" ng-click="vm.selectMonth($index)" ng-class="{'acvtive': vm.selectedMonth.month === $index+1 && vm.selectedMonth.year === vm.selectedYear}">
        {{m.month}}
        <div class="point" ng-class="{'show-point': m.companies > 0}"></div>
      </li>
    </ul>
  </div>
  <p class="clear-btn" ng-click="vm.clearDate()">开始时间不限</p>
</div>
