<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>求职学堂</title>
    <meta name="description" content="">
     <meta name="viewport” content=" width="device-width," initial-scale="1.0," minimum-scale="1.0," maximum-scale="1.0," user-scalable="no”">

    <script src="http://static.careerfrog.com.cn/cf-college/scripts/vendor-flexible.f238aaa2.js"></script>
    <!-- <script src="http://static.careerfrog.com.cn/cf-college/scripts/ios-qr-code-style.d167d1d8.js"></script> -->
    <link rel="stylesheet" href="http://static.careerfrog.com.cn/cf-college/scripts/ios-qr-code-style.cba08532.css">
  </head>
  <body>
    <div class="modal-dialog">
      <div class="modal-content">
        <p class="modal-title">职位推送开启</p>
        <p class="modal-notice">长按扫码即可关注<br>（求职学堂小助手）服务号</p>
        <img src="http://static.careerfrog.com.cn/cf-college/images/qr-code.3bcc73d3.jpg" alt="求职学堂" class="qr-code">
        <span class="modal-push">服务号每天北京时间早上9点，<br>将根据你完善的定制信息推送最新的实习职位</span>
      </div>
    </div>
  </body>
</html>
