<div class="opportunity-recommended-container">
  <div class="progress-bar-wrap" ng-cloak ng-if="customizedStatus === 'loading'">
    <progress-bar animation-duration="vm.animationDuration" tips="页面定制中……"></progress-bar>
  </div>
  <div class="placeholder" ng-cloak ng-if="customizedStatus === 'failure'">
      <p class="tips">只需4步，定制专属你的职位和问答</p>
      <p class="tips">完善信息后可开启职位推送</p>
      <p class="tips">让你的投递效率翻倍</p>
      <a href="javascript:;" ng-click="vm.customize()" class="customized-btn">完善定制信息</a>
  </div>
  <div class="" ng-if="customizedStatus === 'success'">
    <section class="recommend-list-container" >
      <h1 class="revise-customization">
        <p>
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-xiaochatu-"></use></svg>
          推荐职位基于你填写的定制信息给出
        </p>
        <a href="javascript:;" ng-click="vm.customize()" class="revise-btn">修改定制信息</a>
      </h1>
      <h1 class="opp-push">
        <p>
          求职学堂小助手服务号每天北京时间早上9点，将根据你完善的定制信息推送最新的实习职位
        </p>
        <div class="switch-box">
          <span>关</span>
          <label class="switch-wrap">
  	        <input type="checkbox" class="switch-btn green" ng-checked="vm.acceptPush" ng-disabled="vm.disabled" ng-click="vm.changeAcceptPush($event)" />
  	        <div><div></div></div>
        	</label>
          <span>开</span>
        </div>
      </h1>
    </section>
    <section class="position-list clearfix" ng-cloak>
      <div class="no-result-placeholder" ng-if="!vm.oppRecommendedArray.length">
        <img  src="http://static.careerfrog.com.cn/cf-college/images/no-recommended-opp.cb6d3808.png" alt="">
        <p>暂无搜索结果</p>
      </div>
      <a ng-href="/opportunity/{{opp.id}}" class="position-detail" ng-repeat="opp in vm.oppRecommendedArray" ng-click="vm.saveStatus()">
        <p class="tag" ng-if="opp.company.companyLabel" ng-bind="opp.company.companyLabel">
        </p>
        <figure>
          <img ng-src="{{opp.company.imageUrl}}" alt="{{opp.company.name}}">
          <figcaption>
            <h3 ng-bind="opp.position"></h3>
            <p class="company">
              <strong ng-bind="opp.company.name"></strong>
              <span class="category" ng-bind="opp.category.name"></span>
            </p>
            <p class="location">
              <span>
                <svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuobiao"></use></svg>
                <span ng-repeat="l in opp.locations">{{l.name}}&nbsp;</span>
              </span>
              <time ng-bind="opp.publishDate | date: 'yyyy-MM-dd'">2017-09-09</time>
            </p>
          </figcaption>
        </figure>
      </a>

    </section>
    <div class="pagination-wrap" ng-if="vm.totalPages > 1">
      <uib-pagination id="pagination" class="pagination-sm clearfix" previous-text="上一页" next-text="下一页" total-items="vm.totalItems" items-per-page="vm.params.itemsPerPage" ng-model="vm.params.pageNum" max-size="6" ng-change="vm.pageChanged()" force-ellipses="true"></uib-pagination>
    </div>
  </div>
</div>
