<!DOCTYPE html>
<html ng-app="App">

<head>
  <meta charset="utf-8">
  <title>求职探索_求职学堂_职业蛙</title>
  <meta name="description" content="求职迷茫探索,行业职位百科抢先看。">
  <meta name="keywords" content="求职探索,校招探索,应届求职,求职百科,职业百科,岗位描述,500强名企">
  <!-- <script src="/scripts/discovery-pc-style.js"></script> -->
  <link rel="stylesheet" href="http://static.careerfrog.com.cn/cf-college/scripts/discovery-pc-main.28d50c49.css">
</head>

<body ng-controller="discoveryCtrl as vm" ng-cloak>
  <header class="clearfix page-header">
    <div class="wrap">
      <h1 class="logo"></h1>
      <div class="account-wrap">
        <account-nav user="vm.user" url="discovery"></account-nav>
      </div>
        <ul class="clearfix nav">
          <li><a href="/">名企实习</a></li>
          <li>
            <a href="/recruit_calendar">校招日历</a>

          </li>
          <li><a href="javascript:;" class="active">求职探索</a></li>
          <li class="kit">
            <a href="/interview_material" class="kit">面试锦集</a>
            <img src="http://static.careerfrog.com.cn/cf-college/images/interview-material/kit.e2f8d7af.png">
          </li>
          <li class="swich-wrap">
            <swich swich-status="vm.swichStatus" swich-lable="vm.swichLable" call-back="vm.toggleDanmu()"></swich>
          </li>
        </ul>
    </div>
  </header>

  <div class="danmu-wrap">

    <dan-mu dan-mu-status="vm.swichStatus" img-src="vm.imgSrc"></dan-mu>
  </div>

  <section class="main-industry">
    <h3 class="section-title"><span> </span>行业百科</h3>
    <ul class="industry-list">
      <li ng-repeat="i in vm.IndustryList" style="background-image: url('{{i.icon}}')">
        <a ui-sref="industry({id: {{i.id}}})" ng-class="{active: state.params.id == {{i.id}}}" ng-click="vm.toggleBaike(i.id)">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-yuanjiaosanjiaojiantoushang-"></use></svg>
        </a>
      </li>

    </ul>
  </section>
  <ui-view></ui-view>
  <user-feedback></user-feedback>
  <scroll-to-top></scroll-to-top>
  <qr-code></qr-code>
  <%- include('../../templates/footer'); %>

  <!-- svg -->
  <script src="//at.alicdn.com/t/font_302276_v3bjsrdmxxmholxr.js"></script>
  <script src="http://static.careerfrog.com.cn/cf-college/scripts/discovery-pc-main.0a48c1d0.js"></script>
  <script>angular.module("App").constant("CF_FILE_BASE_URL","<%= CF_FILE_BASE_URL %>").constant("$USER", <%- JSON.stringify(user) %>).constant("API_BASE_URL","<%= API_BASE_URL %>")</script>
</body>

</html>
