<div class="carousel-container">
  <a href="javascript:;" class="tab-btn right-btn" ng-click="vm.swip('right')" ng-class="{'disabled': vm.sectionNum === vm.hotCompany.length - 1}">
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-youjiantou"></use></svg>
  </a>
  <a href="javascript:;" class="tab-btn left-btn" ng-click="vm.swip('left')" ng-class="{'disabled': vm.sectionNum === 0}">
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-zuojiantou"></use></svg>
  </a>
  <div class="carousel clearfix">
    <div class="wrap" ng-style="vm.carouselStyle">
      <div class="slide" ng-repeat="slide in vm.hotCompany" ng-class="{'special-slide': slide.length < 3}">
        <div ng-click="vm.selectCompany(material,$parent.$index, $index)" class="material" ng-repeat="material in slide" ng-class="{'selected-material': vm.selectedMaterial == ($parent.$index+'.'+$index)}">
          <img ng-src="{{material.cover}}" alt="">
          <dl class="info">
            <dt>{{material.name}}面试经验</dt>
            <dd>作者：求职学堂团队</dd>
            <dd>更新：{{material.updatedAt | date: 'yyyy-MM-dd'}}</dd>
            <dd>已下载：{{material.downloadCount}}次</dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

</div>
