<div class="preview-mask-container" ng-if="vm.show">
  <h2 class="mask-header">翻页说明</h2>
  <div class="tips">
      <div class="hand left">
        <img src="http://static.careerfrog.com.cn/cf-college/images/left-hand.ab188c52.png" alt="上一页">
        <p>上一页</p>
      </div>
      <div class="hand right">
        <img src="http://static.careerfrog.com.cn/cf-college/images/right-hand.00d7b99a.png" alt="下一页">
        <p>下一页</p>
      </div>
  </div>
  <button class="close btn-lg" ng-click="vm.closeMask()">我知道了</button>
</div>
