<div class="logout-modal" ng-class="{'show-modal': vm.showModal}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="logout-modal-container row">
        <h1>登出提示</h1>
        <div class="logo">
          <img src="http://static.careerfrog.com.cn/cf-college/images/share.06b6e3ab.jpg" alt="">
        </div>
        <p class="tips">确实要登出求职学堂吗？</p>
        <div class="btn-wrap">
          <a class="btn cancel-btn" ng-click="vm.cancel()">取消</a>
          <a class="btn delete-btn" ng-click="vm.confirm()">确定</a>
        </div>
      </div>
    </div>
  </div>
</div>