<section class="company-container clearfix">
  <div class="company-list clearfix">
    <h3 class="section-title"><span> </span>公司列表</h3>
    <p class="list-count">符合条件的公司  <span ng-bind="vm.totalItems"></span> 个</p>
    <div class="nothing" ng-if="!vm.totalItems">
    </div>
    <div class="company-detail clearfix" ng-repeat="c in vm.companyArray">
      <a ng-href="/company/{{c.id}}" ng-click="vm.saveStatus()" target="_blank">
        <img ng-src="{{c.imageUrl}}" alt="">
      </a>
      <dl class="">
        <dt>
          <a ng-href="/company/{{c.id}}" ng-click="vm.saveStatus()" target="_blank">
            {{c.name}}
          </a>
        </dt>
        <dd class="clearfix">
          <span>行业：</span><strong ng-bind="c.industry.name"></strong>
          <span>地区：</span><strong ng-bind="c.city.name"></strong>
          <span>规模：</span><strong ng-bind="c.size.name">

          </strong>
            <span>平均工资：</span><strong ng-bind="c.averageSalary+'元'" ng-if="c.averageSalary"></strong>
            <strong ng-if="!c.averageSalary">暂无</strong>
        </dd>
      </dl>
    </div>
    <div class="pagination-wrap" ng-if="(vm.totalItems / vm.itemsPerPage) > 1">
      <uib-pagination id="pagination" class="pagination-sm clearfix" previous-text="上一页" next-text="下一页" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.pageNum" max-size="6" ng-change="vm.pageChanged()" force-ellipses="true"></uib-pagination>
    </div>
  </div>
  <div class="recommended-company-list">
    <h3>推荐公司</h3>
    <div class="recommended-company-detail clearfix" ng-repeat="rc in vm.recommendCompanyArray">
      <a ng-href="/company/{{rc.id}}" class="img-link" target="_blank">
      <img ng-src="{{rc.imageUrl}}" alt="">
      </a>
      <dl class="">
        <dt>
          <a ng-href="/company/{{rc.id}}" ng-bind="rc.name" target="_blank"></a>
        </dt>
        <dd class="clearfix">
          <span>行业：</span><strong ng-bind="rc.industry.name"></strong>
          <span>地区：</span><strong ng-bind="rc.city.name"></strong>
        </dd>
      </dl>
    </div>
  </div>
</section>
