<div class="open-feedback-btn" ng-show="!vm.openFormFlag"  ng-click="vm.initialState()">
  <a href="javascript:;" class="btn"></a>
</div>
<form class="user-feedback-form"  ng-show="vm.openFormFlag" name="feedbackForm" novalidate >
  <div class="feedback-form-header">
    <svg class="icon close-feedback-btn" ng-click="vm.openFormFlag = false">
      <use xlink:href="#icon-icon-delete"></use>
    </svg>
  </div>
  <div class="feedback-form-content">
    <div class="feedback-entry">
      <div class="feedback-entry-title">
        <div>
          <span>你的建议和吐槽</span>
        </div>
        <span class="error-msg" ng-messages="feedbackForm.comment.$error" ng-if='vm.submitted'>
          <span ng-message="required">必填</span>
          <span ng-message="maxlength">字数不超过300字</span>
        </span>
      </div>

      <textarea class="feedback-input comment" name="comment" ng-model="vm.comment" ng-required="true" placeholder="亲爱的用户你好，如果你对我们网站有任何的疑问或建议，都可以告诉我们。抱歉我们无法逐一回复，但我们一定会认真阅读。" ng-maxlength="300"></textarea>
    </div>
    <div class="feedback-entry" ng-show="!vm.noImageUpload">
      <div class="feedback-entry-title">
        <div>
          <span>图片上传（最多上传3张图）</span>
        </div>
      </div>
      <div class="image-container clearfix">
        <div class="image-entry" ng-repeat="attachment in vm.attachments">
          <div class="image-entry-container">
            <div ng-show="attachment.$valid" ngf-thumbnail="attachment" class="thumb" ngf-as-background="true" ng-click="vm.previewImage(attachment)"></div>
            <div class="upload-progress" ng-class="{'progress-start':attachment.progress >= 0, 'progress-success': attachment.progress == 100 && !attachment.uploadFailed,
            'progress-failure': attachment.progress == 100 && attachment.uploadFailed}" style="width:{{attachment.progress || 0}}%">
            </div>
            <div class="upload-failed-mask" ng-show="attachment.uploadFailed"></div>
          </div>
          <div class="upload-failed-mask" ng-show=""></div>
          <svg class="icon image-del-btn" aria-hidden="true" ng-click="vm.deleteImage(attachment, $index)"><use xlink:href="#icon-delete"></use></svg>
        </div>
        <div class="add-image-btn" ng-show="vm.attachments && vm.attachments.length < 3">
          <label for="add-image"></label>
          <input class="add-image" id="add-image" type="file" accept="image/*" ngf-select="vm.uploadImage($files, $invalidFiles)" multiple/>
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-tianjiatupian-1"></use></svg>
        </div>
      </div>
    </div>

    <div class="feedback-entry">
      <div class="feedback-entry-title">
        <div>
          <span>联系邮箱</span>
        </div>
        <span class="error-msg" ng-messages="feedbackForm.email.$error" ng-if='vm.submitted'>
        <span ng-message="pattern">格式不对</span>
        </span>
      </div>
      <input type="text" class="feedback-input" ng-pattern='vm.emailReg' name="email" ng-model="vm.email" placeholder="你可以在此输入邮箱方便我们联系你" autocomplete="off">
    </div>

    <button class="feedback-btn" ng-click="vm.submit(feedbackForm)">留言</button>
    <div class="feedback-success" ng-cloak ng-show="vm.feedbackSuccess">
      <div class="little-sister"></div>
      <div>我们已经收到你的反馈，后期会用邮箱回复你。<br/>感谢你的宝贵建议。</div>
    </div>
  </div>

  <div class="image-preview" ng-show="vm.showPreviewFlag">
    <svg class="icon close-preview-btn" ng-click="vm.showPreviewFlag = false">
      <use xlink:href="#icon-icon-delete"></use>
    </svg>
    <div class="image-preview-container"  ngf-background="vm.previewedImage">
    </div>
  </div>
</form>
