<div class="mobile-dropdown-selector" ng-click="vm.toggleList()" ng-class="{active: vm.showList}">
  <span>
    {{vm.selectedItem.tabName || vm.selectedItem.name || vm.placeholder}}
  </span>
    <i ng-if="!vm.listStatus" class="iconfont icon-sanjiaojiantouxia" aria-hidden="true" ng-class="{inverse: vm.showList}"></i>
</div>
<div class="dropdown-panel" ng-class="vm.mode==='button'? 'button-mode' : 'list-mode'" ng-show="vm.showList" ng-click="vm.showList = false">
  <ul class="list-wrapper" ng-click="$event.stopPropagation()">
    <li ng-repeat="item in vm.selectSource" ng-click="vm.selectItem(item)" ng-class="{selected: item.id === vm.selectedItem.id}"><div>{{item.name}}</div></li>
  </ul>
</div>
