<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>温馨提示</title>

    <script src="/scripts/uk-go-wechat-style.js"></script>
    <script src="/scripts/vendor-flexible.js"></script>
  </head>
  <body>

    <div class="wenxi">
      <h3>温馨提示</h3>
      <img src="/images/university-tour/cartoon-figure.png" alt="cartoon-figure" class="cartoon-figure">
      <p>请在微信打开该链接哦~</p>
      <img src="/images/university-tour/logo-color.png" alt="" class="logo">
    </div>

  </body>
</html>
