<div class="industry-interview-material-container scroll-container" id="scroll-container" scroll-load="vm.loadMoreMaterial()" keep-scroll-pos-container>
  <div class="banner" ng-style="vm.bannerStyle">
    <h1>{{vm.currentIndustry.name}}</h1>
    <span class="history-btn" ng-click="vm.goBack()">
      <i class="iconfont icon-arrow-left-" aria-hidden="true"></i>返回
    </span>
  </div>
  <div class="nav-wrap" ng-class="{'min-nav-wrap': vm.params.keyword}">
    <div ng-class="{'nav-fix-top': vm.toolBarFixed}">
      <div class="input-container-wrap">
        <form class="input-container" action="" onsubmit="return false;">
          <i class="iconfont icon-sousuo"></i>
          <input type="text" name="" ng-change="vm.search()" ng-model="vm.params.keyword" value="" placeholder="请输入公司名" ng-keypress="vm.enterSearch($event)">
        </form>
      </div>
      <ul class="tab" du-scroll-container="scroll-container" ng-if="!vm.params.keyword">
        <li ng-class="{'li-active': !vm.toolBarFixed}">
          <a href="#tip" du-smooth-scroll du-scrollspy>面试锦囊</a>
        </li>
        <li>
          <a href="#hotCompany" du-smooth-scroll du-scrollspy>热门面经</a>
        </li>
        <li>
          <a href="#moreMaterial" du-smooth-scroll du-scrollspy>更多面经</a>
        </li>
      </ul>
    </div>
  </div>

  <div ng-show="!vm.params.keyword" id="tip">
    <material-tip industry-id="vm.industryId" preview-file="vm.openFilePreviewModal"></material-tip>
  </div>
  <div class="" ng-show="!vm.params.keyword" id="hotCompany">
    <hot-company-material industry-id="vm.industryId" preview-file="vm.openFilePreviewModal"></hot-company-material>
  </div>
  <div class="more-company-material" ng-show="!vm.params.keyword" id="moreMaterial">
    <more-material industry-id="vm.industryId" preview-file="vm.openFilePreviewModal"></more-material>
  </div>

  <div class="serach-result" ng-class="{'placeholder': vm.params.keyword && !vm.tipsArray.length && !vm.materialsArray.length }">
    <div class="tip-result" ng-if="vm.params.keyword && vm.tipsArray.length">
      <div class="section-title">
        <i class="iconfont icon-icon-jingyan-"></i>面试锦囊
      </div>
      <div ng-repeat="tip in vm.tipsArray" class="tip-wrap">
        <dl class="tip">
          <dt>
            <img ng-src="{{tip.cover}}" alt="">
          </dt>
          <dd>
            <h3 ng-bind="tip.fileName" class="multiline-nowrap"></h3>
            <h4>作者：求职学堂团队</h4>
            <h5>更新：{{tip.updatedAt | date: 'yyyy-MM-dd'}}</h5>
          </dd>
        </dl>
        <div class="bar">
          <p>
            <i class="iconfont icon-icon-yulan-"></i>{{tip.viewCount}}位小伙伴刚刚看过
          </p>
          <a href="javascript:;" class="preview-btn" ng-click="vm.openFilePreviewModal(tip)">立即预览</a>
        </div>
      </div>
    </div>
    <div class="material-result" ng-if="vm.params.keyword && vm.materialsArray.length">
      <div class="section-title">
        <i class="iconfont icon-icon-jingyan-"></i>面试经验
      </div>
      <dl class="material" ng-repeat="m in vm.materialsArray" ng-click="vm.openFilePreviewModal(m)">
        <dt ng-bind="m.fileName"></dt>
        <dd>更新：{{m.updatedAt | date: 'yyyy-MM-dd'}}</dd>
        <!-- <i class="icon-pdf"></i> -->
        <svg ng-cloak class="icon icon-pdf" aria-hidden="true"><use xlink:href="#icon-pdf-"></use></svg>
        <i class="iconfont icon-arrow-right"></i>
      </dl>
    </div>
  </div>
</div>
