<div class="resume-modal-container">
  <div class="header">
    <svg class="icon close-btn" aria-hidden="true" ng-click="vm.cancel()">
        <use xlink:href="#icon-icon-delete"></use>
    </svg>
    <h3 class="confirm-notice">提示</h3>
  </div>
  <p class="tips" ng-if="vm.type==='delete'">确实要删除该简历吗？</p>
  <p class="tips" ng-if="vm.type==='wrongAdd'">简历上传份数超过5份</p>
  <p class="tips" ng-if="vm.type==='wrongType'">简历仅支持word/pdf格式</p>
  <p class="tips" ng-if="vm.type==='wrongSize'">上传简历需小于4m</p>
  <footer>
    <div class="btn-wrap">
      <a class="btn delete-btn" ng-click="vm.confirm()" ng-if="vm.type==='delete'">删除</a>
      <a class="btn cancel-btn" ng-click="vm.cancel('')" ng-if="vm.type==='delete'">取消</a>
      <a class="btn confirm-btn" ng-click="vm.cancel('')" ng-if="vm.type!=='delete'">好的</a>
    </div>
  </footer>
</div>
