<div class="discovery">
  <div class="discovery-header" ng-show="!state.includes('discovery.industry_interview_material')">
    <header></header>
    <header class="qa-header" ng-class="{'is-preferenced': vm.$USER && vm.$USER.isPreferenced}" ng-if="state.includes('discovery.qa')">
      <div class="qa-to-pref-btn" ng-click="vm.goPreferences()"></div>
    </header>
    <ul class="navs" ng-class="{'add-border': state.includes('discovery.interview_material')}">
      <li ng-class="{active: state.includes('discovery.qa')}" ui-sref="discovery.qa">求职问答</li>
      <li ng-class="{active: state.includes('discovery.interview_material')}" ui-sref="discovery.interview_material">面经锦集</li>
    </ul>
  </div>

  <ui-view class="nav-content"></ui-view>
</div>
