<div class="industry-selector-container">
  <dl class="hot-industry-list clearfix" [ngClass]="{'show-more-industry': moreIndustry}">
    <dt>行业领域：</dt>
    <ng-container   *ngFor="let indust of industryArray; index as i">
      <dd  *ngIf="i < 9" (click)="selectIndustry(indust)">
      <!-- [ngClass]="{'selected': indust.name === industry.name}"  -->
        <a href="javascript:;">{{indust.name}}</a>
      </dd>
  </ng-container>
    <dd class="more-btn" (click)="toggleMoreIndustry()">
      <a href="javascript:;">
        更多
        <svg class="icon" aria-hidden="true" *ngIf="!moreIndustry"><use xlink:href="#icon-yuanxingsanjiaoxia-"></use></svg>
        <svg class="icon" aria-hidden="true" *ngIf="moreIndustry"><use xlink:href="#icon-yuanxingsanjiaoshang-"></use></svg>
      </a>
    </dd>
  </dl>
  <ul class="more-industry clearfix" *ngIf="moreIndustry">
    <ng-container *ngFor="let indust of industryArray; let i = index">
    <li  *ngIf="i >= 9 && i < 19" (click)="selectIndustry(indust)">
      <!-- [ngClass]="{'selected': indust.id === industry.id}" -->
      <a href="javascript:;">{{indust.name}}</a>
    </li>
    </ng-container>
  </ul>
  <ul class="more-industry clearfix" *ngIf="moreIndustry">
    <ng-container *ngFor="let indust of industryArray; let i = index">
    <li  *ngIf="i >= 19 && i < 29" (click)="selectIndustry(indust)">
      <!-- [ngClass]="{'selected': indust.id === industry.id}" -->
      <a href="javascript:;">{{indust.name}}</a>
    </li>
    </ng-container>
  </ul>
</div>
