<div id="TLcontrols" class="dan-mu-container" style="background: url('{{vm.imgPath}}') no-repeat center;">
  <div class="bg">
    <div class="wrap" id="danMuWrap" ng-show="vm.danMuStatus">
      <div ng-repeat="group in vm.danmuDisplayArray" class="dan-group microsoft marquee clearfix" ng-class="{'transformStyle': !vm.animationStatus}">
        <span ng-repeat="d in group.danArray" style="margin-right: 50px;">
            <dan favorite="vm.toggleFavorite(d)" pause-animation="vm.pauseAnimation()" call-back="vm.askQuestion()" question-count="vm.questionCount" animation-status="vm.animationStatus" dan="d"></dan>
          </span>
      </div>
    </div>
    <div class="ask-question-wrap" ng-show="vm.danMuStatus">
      <div class="ask-question clearfix" ng-show="vm.askStatus && (vm.questionCount < 5)" ng-cloak>
        <input id="ask-input" type="text" autofocus ng-blur="vm.hideAskInput()" ng-model="vm.question" name="" value="" placeholder="请在此输入你的问题限150字以内，答案将在服务号（求职学堂小助手）单独回复你！" ng-enter="vm.submitQuestion()">
        <strong ng-if="vm.question.length" class="limit-tip">{{vm.question.length}}/150</strong>
        <a href="javascript:;" class="send-btn" ng-class="{'disabled': vm.question.length > 150 || vm.questionCount > 5}" ng-click="vm.submitQuestion()">发送</a>
      </div>
      <h1 ng-repeat="nq in vm.newQuestionArray" class="title moveAnimation" ng-class="{'visited': vm.dan.visited, 'puse-animation': vm.animationStatus}" >
        <svg class="icon" aria-hidden="true"><use xlink:href="#icon-wenti"></use></svg>
        {{nq.title}}
      </h1>
      <div class="danmu-control-container" ng-show="!vm.askStatus || (vm.questionCount >= 5)">
        <input class="progress" step="1" type="range" min="0" max="9950" value="0">
        <a href="javascript:;" target="_blank" class="btn" ng-click="vm.toggleAnimation()">
          <svg class="icon" aria-hidden="true" ng-if="!vm.animationStatus" ><use xlink:href="#icon-zanting"></use></svg>
          <svg class="icon" aria-hidden="true" ng-if="vm.animationStatus" ><use xlink:href="#icon-bofang-"></use></svg>
        </a>
        <a href="/question" target="_blank" class="btn">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-sousuo-"></use></svg>
        </a>
        <a href="javascript:;" class="btn" ng-click="vm.askQuestion()">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-dangewenti-"></use></svg>
        </a>
      </div>
    </div>
  </div>
  <p class="favorite-tip" ng-if="vm.favoriteStatus">
    收藏&nbsp;&nbsp;&nbsp;+1
  </p>
</div>
