<div class="dan-container" ng-mouseover="vm.showContent()" ng-mouseout="vm.hideContent($event)" ng-style="vm.dan.styleObj">
  <div class="wrap dan" ng-if="vm.dan.type === 'question'">
    <h1 class="title" ng-class="{'visited': vm.dan.visited}">
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-wenti"></use></svg>
      {{vm.dan.title}}
    </h1>
    <div class="content" ng-if="vm.contentStatus" ng-mouseover="vm.showContent()" ng-mouseout="vm.hideContent($event)">
    <!-- <div class="content"  ng-mouseover="vm.showContent()" ng-mouseout="vm.hideContent($event)"> -->
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-yuanxingsanjiaoshang-"></use></svg>
      <div class="" ng-if="vm.dan.answer">
        <h2>{{vm.dan.title}}</h2>
        <h3>求职学堂专业回复：</h3>
        <p ng-model="vm.dan.answer.content" ng-bind-html="vm.dan.answer.content"></p>
      </div>
      <div class="" ng-if="!vm.dan.answer">
        <h2>{{vm.dan.title}}</h2>
        <h3>求职学堂专业回复：</h3>
        <p>答案将第一时间在求职学堂服务号（求职学堂小助手）以模板的形式回复给你。</p>
      </div>
      <p class="btn-line">
        <a ng-show="!vm.dan.isFavorite" ng-class="{'is-favorite': !vm.dan.isFavorite }" ng-cloak href="javascript:;" ng-click="vm.toggleFavorite($event)" class="favorite-btn">
          <svg ng-cloak class="icon" aria-hidden="true"><use xlink:href="#icon-icon-shoucang-"></use></svg>
          收藏
        </a>
        <a ng-show="vm.dan.isFavorite" ng-class="{'is-favorite': vm.dan.isFavorite }"  ng-cloak  href="javascript:;" ng-click="vm.toggleFavorite($event)" class="favorite-btn favorited">
          <svg ng-cloak class="icon" aria-hidden="true"><use xlink:href="#icon-icon-shoucangshixin-"></use></svg>
          已收藏
        </a>
        <a href="javascript:;" class="tan-btn" ng-click="vm.askQuestion()">我也弹个问题</a>
      </p>
    </div>
  </div>
  <a href="#"></a>
  <div class="wrap dan" ng-if="vm.dan.type === 'recruit'"ng-mouseover="vm.showContent()" ng-mouseout="vm.hideContent($event)">
    <h1 class="title" ng-click="vm.viewCompany()" ng-class="{'visited': vm.dan.visited}">
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-laba-"></use></svg>
      {{vm.dan.name}}于{{vm.dan.opportunity.applyStart | date: 'yyyy-MM-dd'}}开始网申啦~
    </h1>
  </div>

</div>
