<!DOCTYPE html>
<html ng-app="App">

<head>
  <meta charset="utf-8">
  <title>求职学堂问答弹幕，专家解答职场疑问</title>
  <meta name="description" content="职场,行业认知,咨询,解决问题,专业回复">
  <meta name="keywords" content="求职学堂,职业蛙,职场问答,弹幕问答，四大,咨询,快消,银行,金融,互联网,名企,500强,校招,社招,海归求职,留学生求职,疑惑">

  <link rel="stylesheet" href="//at.alicdn.com/t/font_302276_3h47l1qklv3lq5mi.css">
  <!-- <script src="/scripts/question-list-pc-style.js"></script> -->
  <link rel="stylesheet" href="/scripts/question-list-pc-main.css">
  </script>
</head>

<body ng-controller="questionListCtrl as vm">
  <header class="clearfix page-header">
    <div class="wrap">
      <h1 class="logo"></h1>
      <div class="account-wrap">
        <account-nav user="vm.user" url="question"></account-nav>
      </div>
      <ul class="clearfix nav">
        <li><a href="/" class="active">名企实习</a></li>
        <li>
          <a href="/recruit_calendar">校招日历</a>

        </li>
        <li><a href="/discovery">求职探索</a></li>
        <li class="kit">
          <a href="/interview_material" class="kit">面试锦集</a>
          <img src="/images/interview-material/kit.png" />
        </li>
        <li class="swich-wrap">
          <swich swich-status="vm.swichStatus" swich-lable="vm.swichLable" call-back="vm.toggleDanmu()"></swich>
        </li>
      </ul>
    </div>
  </header>

  <div class="content-wrap">
    <section class="search-container">
      <div class="input-container">
        <input ng-model="vm.params.keyword" ng-change="vm.search()" type="text" name="" value="" placeholder="请输入你感兴趣的问题关键字">
        <a href="javascript:;" ng-click="vm.search()">搜索</a>
      </div>
      <ul class="hot-keywords">
        <li>热门搜索：</li>
        <li ng-repeat="k in vm.keywords">
          <a ng-click="vm.selectkeyword(k)" ng-class="{'active': vm.params.keyword === k}" href="javascript:;" ng-bind="k"></a>
        </li>
      </ul>
    </section>
    <section class="section-title">
      <h2 ng-if="!vm.params.keyword" ng-cloak>全部问答</h2>
      <h2 ng-if="vm.params.keyword" ng-cloak>搜索结果 <span>共计{{vm.totalItems}}条</span></h2>
    </section>
    <section class="" ng-repeat="q in vm.questionArray">
      <div class="question-detail">
        <h3>
            <i class="iconfont icon-wenti"></i>
            <span ng-bind="q.title"></span>
            <a ng-if="!q.isFavorite" ng-cloak href="javascript:;" ng-click="vm.toggleFavorite(q)" class="favorite-btn">
              <svg ng-cloak class="icon" aria-hidden="true"><use xlink:href="#icon-icon-shoucang-"></use></svg>
              收藏
            </a>
            <a ng-if="q.isFavorite" ng-cloak  href="javascript:;" ng-click="vm.toggleFavorite(q)" class="favorite-btn favorited">
              <svg ng-cloak class="icon" aria-hidden="true"><use xlink:href="#icon-icon-shoucangshixin-"></use></svg>
              已收藏
            </a>
        </h3>
        <p>
          <label ng-cloak ng-if="q.industry.name">{{q.industry.name}}</label>
          <label ng-cloak ng-if="q.stage.name">{{q.stage.name}}</label>
          <span>共计 {{q.answers.length}} 个回答</span>
        </p>
        <div ng-repeat="a in q.answers">
          <h4>求职学堂专业回复：</h4>
          <pre class="" ng-bind="a.content"></pre>
        </div>
      </div>
    </section>

    <div class="pagination-wrap" ng-if="vm.totalPages > 1">
      <uib-pagination id="pagination" class="pagination-sm clearfix" previous-text="上一页" next-text="下一页" total-items="vm.totalItems" items-per-page="vm.params.itemsPerPage" ng-model="vm.params.pageNum" max-size="6" ng-change="vm.pageChanged()" force-ellipses="true"></uib-pagination>
    </div>
  </div>
    <scroll-to-top></scroll-to-top>
    <qr-code></qr-code>
    <%- include('../../templates/footer'); %>
    <script src="/scripts/question-list-pc-main.js"></script>
    <script>
      angular.module('App')
        .constant('API_BASE_URL', '<%= API_BASE_URL %>')
        .constant('$USER', <%- JSON.stringify(user) %>)
        .constant('CF_FILE_BASE_URL', '<%= CF_FILE_BASE_URL %>');
    </script>

    <script src="//at.alicdn.com/t/font_302276_v3bjsrdmxxmholxr.js"></script>
  </body>
</html>
