<div class="discovery-qa">
  <div class="danmu-container" id="danmu-container">
    <div class="container-padding"></div>
    <div class="danmu-entry" ng-repeat="question in vm.questions" id="danmu{{$index}}" data-index="{{$index}}" ng-click="vm.showDetail(question)">{{question.title}}</div>
    <div class="container-padding"></div>
  </div>
  <div class="btn-container page-padding">
    <div class="btn-wrapper">
      <div class="pause-wrapper">
        <button class="pause-btn" ng-click="vm.toggleAutoScroll()">
          <i class="iconfont icon-zanting" ng-show="vm.autoplay"></i>
          <i class="iconfont icon-bofang-" ng-show="!vm.autoplay"></i>
        </button>
      </div>
      <div class="ask-wrapper">
        <a class="ask-btn" href="/mobile/discovery/question-list">
          <i class="iconfont icon-sousuo-"></i>
        </a>
      </div>
      <div class="ask-wrapper">
        <button class="ask-btn" ng-click="vm.askQuestion()">
          <i class="iconfont icon-wen-"></i>
        </button>
      </div>
    </div>
  </div>
  <qa-detail content="vm.qaDetail" show="vm.showDetailFlag" on-close="vm.closeDetail"></qa-detail>
</div>
