<div class="qa-detail-container" ng-show="vm.show">
  <page-title title="查看回答" customized-go-back="vm.hideDetail"></page-title>
  <div class="question page-padding">
    <div class="question-label">Q:</div>
    <div class="question-content">{{vm.content.title}}</div>
    <div class="tag-container">
      <p class="tag">
        <span ng-bind="vm.content.industry.name" ng-if="vm.content.industry"></span>
        <span ng-bind="vm.content.stage.name" ng-if="vm.content.stage"></span>
      </p>
      <div class="favor-btn" ng-class="{'is-favored': vm.isFavored}" ng-click="vm.toggleFavorite()">
        <i class="iconfont icon-icon-shoucang-" aria-hidden="true"></i>{{vm.isFavored? '已收藏':'收藏'}}
      </div>
    </div>

  </div>
  <div class="answers page-padding">
    <div class="answers-header">目前共 <span>{{vm.content.answers.length}}</span> 个回答 <div class="question-btn btn-sm primary" ng-click="vm.askQuestion()">我要提问</div></div>
    <div class="answer-list">
      <div class="answer" ng-repeat="answer in vm.content.answers">
        <!-- <div class="answer-time">{{answer.created_at | date : 'yyyy-MM-dd'}}</div> -->
        <div class="answer-time">
          <span>回答于</span>
           {{answer.created_at | date : 'yyyy-MM-dd'}}
         </div>
        <div class="answer-title"><i class="iconfont icon-qiuzhidaxue-" aria-hidden="true" onClick="vm.show = false"></i>求职学堂专业回复</div>

        <pre class="answer-content" ng-bind-html="answer.content"></pre>
      </div>
    </div>
  </div>
</div>
