<div class="industry-interview-material-container scroll-container" id="scroll-container" scroll-load="vm.loadMoreMaterial()" keep-scroll-pos-container>
  <div class="input-container-wrap">
    <form class="input-container" action="" onsubmit="return false;">
      <i class="iconfont icon-sousuo"></i>
      <input type="text" name="" ng-change="vm.search()" ng-model="vm.params.keyword" value="" placeholder="请输入公司名" ng-keypress="vm.enterSearch($event)">
      <i class="iconfont icon-delete" ng-click="vm.params.keyword = null;vm.search()"></i>
    </form>
    <span class="history-btn" ng-click="vm.goBack()">
      <i class="iconfont icon-arrow-left-" aria-hidden="true"></i>
    </span>
  </div>
  <div class="banner" ng-style="vm.bannerStyle">
    <h1>{{vm.currentIndustry.name}}</h1>
  </div>
  <ul class="material-navigation" ng-show="!vm.params.keyword">
    <li ng-class="{active: vm.activeIndex === 0}" ng-click="vm.toggleActiveIndex(0)">
      <div><i class="iconfont icon-icon-bidu-" aria-hidden="true"></i></div>必读</li>
    <li ng-class="{active: vm.activeIndex === 1}" ng-click="vm.toggleActiveIndex(1)">
      <div><i class="iconfont icon-icon-jingyan-" aria-hidden="true"></i></div>笔试</li>
    <li ng-class="{active: vm.activeIndex === 2}" ng-click="vm.toggleActiveIndex(2)">
      <div><i class="iconfont icon-icon-jinnang-" aria-hidden="true"></i></div>面经</li>
  </ul>
  <div class="nav-panels" ng-show="!vm.params.keyword">
    <div class="must-read-section" ng-show="vm.activeIndex === 0">
      <div class="must-reader-title">
        <span>职前必读系列</span>
        <span class="title-tag">新上线</span>
      </div>
      <div class="must-read-card-list" ng-repeat="pre in vm.preservicesArray">
        <div class="must-read-card">
          <div class="info-sec">
            <div class="preview-pic">
              <img ng-src="{{pre.cover}}" alt="">
            </div>
            <div class="title">{{pre.fileName}}</div>
            <p>作者：求职学堂团队</p>
            <p>更新：{{pre.updatedAt | date: 'yyyy-MM-dd'}}</p>
          </div>
          <div class="abstract">摘要：{{pre.summary}}</div>
          <div class="card-footer">
            <div class="read-count">
              <i class="iconfont icon-icon-yulan-" aria-hidden="true"></i> {{pre.viewCount}} 次阅读
            </div>
            <div class="preview-btn" ng-click="vm.openFilePreviewModal(pre)">预览</div>
          </div>
        </div>
      </div>
    </div>
    <div class="paper-test-section" ng-show="vm.activeIndex === 1">
      <div class="paper-test-title">
        <span>笔试真题系列</span>
      </div>
      <div class="paper-test-list">
        <dl class="material-v1" ng-repeat="m in vm.paperArray" ng-click="vm.openFilePreviewModal(m)">
          <dt ng-bind="m.fileName"></dt>
          <dd>更新：{{m.updatedAt | date: 'yyyy-MM-dd'}}</dd>
          <svg ng-cloak class="icon icon-pdf" aria-hidden="true">
    <use xlink:href="#icon-pdf-"></use>
  </svg>
          <i class="iconfont icon-arrow-right"></i>
        </dl>
      </div>
    </div>
    <div class="interview-material-section" ng-show="vm.activeIndex === 2">
      <div class="nav-wrap" ng-class="{'min-nav-wrap': vm.params.keyword}">
        <div ng-class="{'nav-fix-top': vm.toolBarFixed}">
          <ul class="tab" du-scroll-container="scroll-container" ng-if="!vm.params.keyword">
            <li ng-class="{'li-active': !vm.toolBarFixed}">
              <a href="#tip" du-smooth-scroll du-scrollspy>面试锦囊</a>
            </li>
            <li>
              <a href="#hotCompany" du-smooth-scroll du-scrollspy>热门面经</a>
            </li>
            <li>
              <a href="#moreMaterial" du-smooth-scroll du-scrollspy>更多面经</a>
            </li>
          </ul>
        </div>
      </div>
      <div ng-show="!vm.params.keyword" id="tip">
        <material-tip industry-id="vm.industryId" preview-file="vm.openFilePreviewModal"></material-tip>
      </div>
      <div class="" ng-show="!vm.params.keyword" id="hotCompany">
        <hot-company-material industry-id="vm.industryId" preview-file="vm.openFilePreviewModal"></hot-company-material>
      </div>
      <div class="more-company-material" ng-show="!vm.params.keyword" id="moreMaterial">
        <more-material industry-id="vm.industryId" preview-file="vm.openFilePreviewModal"></more-material>
      </div>
    </div>
  </div>

  <div class="search-result" ng-class="{'placeholder': vm.params.keyword && !vm.tipsArray.length && !vm.paperArray.length && !vm.materialsArray.length && !vm.preservicesArray.length}">
    <div class="material-result" ng-show="vm.params.keyword && vm.preservicesArray.length">
      <div class="section-title-v2 red">
        职前必读系列
      </div>
      <div class="must-read-card-list" ng-repeat="pre in vm.preservicesArray">
        <div class="must-read-card">
          <div class="info-sec">
            <div class="preview-pic">
              <img ng-src="{{pre.cover}}" alt="">
            </div>
            <div class="title">{{pre.fileName}}</div>
            <p>作者：求职学堂团队</p>
            <p>更新：{{pre.updatedAt | date: 'yyyy-MM-dd'}}</p>
          </div>
          <div class="abstract">摘要：{{pre.summary}}</div>
          <div class="card-footer">
            <div class="read-count">
              <i class="iconfont icon-icon-yulan-" aria-hidden="true"></i> {{pre.viewCount}} 次阅读
            </div>
            <div class="preview-btn" ng-click="vm.openFilePreviewModal(pre)">预览</div>
          </div>
        </div>
      </div>
    </div>
    <div class="material-result" ng-show="vm.params.keyword && vm.paperArray.length">
      <div class="section-title-v2 primary">
        笔试真题系列
      </div>
      <dl class="material-v1" ng-repeat="m in vm.paperArray" ng-click="vm.openFilePreviewModal(m)">
        <dt ng-bind="m.fileName"></dt>
        <dd>更新：{{m.updatedAt | date: 'yyyy-MM-dd'}}</dd>
        <!-- <i class="icon-pdf"></i> -->
        <svg ng-cloak class="icon icon-pdf" aria-hidden="true">
          <use xlink:href="#icon-pdf-"></use>
        </svg>
        <i class="iconfont icon-arrow-right"></i>
      </dl>
    </div>
    <div class="tip-result" ng-show="vm.params.keyword && (vm.tipsArray.length || vm.materialsArray.length)">
      <div class="section-title-v2 orange">
        面试精选系列
      </div>
      <div ng-repeat="tip in vm.tipsArray" class="tip-wrap">
        <dl class="tip">
          <dt>
            <img ng-src="{{tip.cover}}" alt="">
          </dt>
          <dd>
            <h3 ng-bind="tip.fileName" class="multiline-nowrap"></h3>
            <h4>作者：求职学堂团队</h4>
            <h5>更新：{{tip.updatedAt | date: 'yyyy-MM-dd'}}</h5>
          </dd>
        </dl>
        <div class="bar">
          <p>
            <i class="iconfont icon-icon-yulan-"></i>{{tip.viewCount}} 次阅读
          </p>
          <a href="javascript:;" class="preview-btn" ng-click="vm.openFilePreviewModal(tip)">预览</a>
        </div>
      </div>
      <dl class="material-v1" ng-repeat="m in vm.materialsArray" ng-click="vm.openFilePreviewModal(m)">
        <dt ng-bind="m.fileName"></dt>
        <dd>更新：{{m.updatedAt | date: 'yyyy-MM-dd'}}</dd>
        <!-- <i class="icon-pdf"></i> -->
        <svg ng-cloak class="icon icon-pdf" aria-hidden="true">
          <use xlink:href="#icon-pdf-"></use>
        </svg>
        <i class="iconfont icon-arrow-right"></i>
      </dl>
    </div>

  </div>
</div>