<div class="qa-question-list-container" ng-class="{'search-bar-fix-top': vm.toolBarFixed}">
  <page-title title="搜索问答" customized-go-back="vm.gotoDiscovery"></page-title>
  <div class="input-container-wrap">
    <div class="input-container" >
      <i class="iconfont icon-sousuo" aria-hidden="true"></i>
      <form action="" onsubmit="return false;" style="width: 100%">
        <input type="search" name="" value="" ng-model="vm.params.keyword" ng-focus="vm.keywordListStatus = !vm.params.keyword" ng-change="vm.searchQuestion()" ng-blur="vm.hideHotKeyword()" placeholder="请输入你感兴趣的问题关键字">
      </form>

    </div>
    <dl class="hot-keyword-list container" ng-if="vm.keywordListStatus">
      <h3>热门搜索</h3>
      <div class="col-xs-4" ng-repeat="k in vm.keywords">
        <div class="hot-keyword" ng-class="{'active': k === vm.params.keyword}"  ng-click="vm.selectHotKeyword(k)" ng-bind="k"></div>
      </div>
    </dl>
  </div>
  <div class="result-wrap" scroll-load="vm.loadMoreQuestion()"     keep-scroll-pos-container>
    <div ng-if="!vm.keywordListStatus">
      <div class="search-result page-padding" ng-if="vm.params.keyword">
        <h3>搜索结果</h3>
        <span>共计 {{vm.totalItems}} 条</span>
      </div>
      <div class="search-result" ng-if="!vm.params.keyword">
        <h3>全部回答</h3>
      </div>
      <section class="question-detail page-padding" ng-repeat="q in vm.questionArray" ng-click="vm.viewQuestionDetail(q)">
        <h3>
          <i class="iconfont icon-wenti"></i>
          <span ng-bind="q.title"></span>
        </h3>
        <p>
          <label ng-cloak ng-bind="q.industry.name" ng-if="q.industry">{{q.industry.name}}</label>
          <label ng-cloak ng-bind="q.stage.name" ng-if="q.stage">{{q.stage.name}}</label>
        </p>
        <h4>求职学堂专业回复：</h4>
        <!-- <div class="answer-wrap"> -->
        <pre class="multiline-nowrap" ng-bind="q.answers[0].content"></pre>
        <!-- </div> -->
      </section>
      <section class="load-tips">
        <p>{{!vm.loadAllQuestion?'正在加载中………' : '已经加载全部问答'}}</p>
        <!-- <p ng-if="vm.loadAllQuestion && vm.totalItems >= 3">已经加载全部问答^^</p> -->
      </section>
    </div>
  </div>
</div>
