<div class="intern-opportunity-container" scroll-load="vm.loadMoreInternOpp()" ng-class="{'overflow-body': vm.listStatus.category || vm.listStatus.industry || vm.listStatus.location}" keep-scroll-pos-container>
  <div class="search-bar-container" ng-class="{'search-bar-fix-top': vm.toolBarFixed}">
    <div class="search-bar">
      <i class="iconfont search-bar-icon icon-qiuzhidaxue-" aria-hidden="true"></i>
      <i class="iconfont search-bar-search icon-sousuo" aria-hidden="true" ng-click="vm.toggleSearchBar()"></i>
      <form action="" onsubmit="return false;">
        <input type="search" placeholder="搜索职位/公司/城市" name="" value="" ng-model="vm.keyword" id="searchOpp" ng-keypress="vm.enterSearch($event)">
      </form>

    </div>
  </div>

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" ng-repeat="item in vm.slides">
        <a class="link" ng-href="{{item.link}}">
          <img class="layer" ng-src="{{item.image}}" />
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
  <div class="nav-search-section" ng-class="{'nav-fix-top': vm.toolBarFixed}">
    <div class="opp-nav">
      <div class="opp-nav-tab" ng-click="vm.toggleOppType(1)">
        <div class="opp-nav-tab-text" ng-class="{active: vm.activeTab === 1}">推荐职位
          <div class="recommend-alert">定制</div>
        </div>
      </div>
      <div class="opp-nav-tab" ng-click="vm.toggleOppType(0)">
        <div class="opp-nav-tab-text" ng-class="{active: !vm.activeTab}">全部职位</div>
      </div>
    </div>
    <opportunity-search selected-industry='vm.selectedOppIndustry' selected-location='vm.selectedLocation' list-status='vm.listStatus' opportunity-category="{{vm.listCategroy}}" call-back="vm.searchOpp()" ng-if="!vm.activeTab"></opportunity-search>
    <div class="update-preferences" ng-if="vm.activeTab === 1 && (vm.$USER &&vm.$USER.isPreferenced) && customizedStatus !== 'loading'">
      <div class="switch-box">
        职位推送
        <label class="switch-wrap">
          <input type="checkbox" class="switch-btn green" ng-checked="vm.$USER.acceptPush" ng-disabled="vm.disabled" ng-click="vm.changeAcceptPush($event)" />
          <div><div></div></div>
        </label>
      </div>
      <div class="update-pref-btn btn-sm" ng-click="vm.goPreferences()">修改定制信息</div>
    </div>
  </div>
  <qrcode-modal show-modal="vm.qrcodeModalStatus"></qrcode-modal>
  <div class="opp-container" ng-class="{'bar-fix-top-padding' : vm.toolBarFixed}">
    <div class="progress-bar-wrap" ng-cloak ng-if="customizedStatus === 'loading'">
      <img src="http://static.careerfrog.com.cn/cf-college/images/loading.09c8d483.png" alt="页面定制中">
      <progress-bar animation-duration="vm.animationDuration" tips="页面定制中……"></progress-bar>
    </div>
    <section class="opp-list" ng-cloak ng-if="customizedStatus !== 'loading'">
      <div class="go-pref-guide" ng-if="(!vm.$USER || !vm.$USER.isPreferenced) && vm.activeTab === 1">
        <div class="pref-guide-title">
          <p>只需四步，定制专属你的职位和问答</p>
          <p>完善信息后可开启职位推送</p>
          <p>让你的投递效率翻倍</p>
        </div>
        <img src="http://static.careerfrog.com.cn/cf-college/images/preferences/process.8e47917e.png" alt="">
        <div class="go-pref" ng-click="vm.goPreferences()">完善定制信息</div>
      </div>
      <div class="opp-detail page-padding" ng-repeat="opp in vm.opportunityArray" ng-click="vm.goOppDetail(opp)">
        <div class="opp-basic">
          <!-- 如果公司logo存在 -->
          <div class="avatar">
          <img ng-src="{{opp.company.imageUrl || 'http://static.careerfrog.com.cn/cf-college/images/default-logo.82afb15d.png'}}" alt="">
          </div>
          <ul class="info">
            <li>
              <strong ng-bind="opp.position" class="position"></strong>
              <span ng-bind="opp.publishDate" class="publish-date"></span>
            </li>
            <li>
              <strong ng-bind="opp.company.name" class="company"></strong>
            </li>
            <li>
              <strong class="location">
                <i class="iconfont icon-zuobiao" aria-hidden="true"></i>
                <em ng-bind="opp.locationStr"></em>
              </strong>
              <span ng-bind="opp.category.name" class="opp-category tag-md"></span>
            </li>
          </ul>
        </div>
        <div class="company-label-container" ng-show="opp.company.companyLabel">
          <span class="company-label tag-md gold">{{opp.company.companyLabel}}</span>
        </div>
      </div>
      <p class="load-tips" ng-if="!vm.allOppIsLoad && vm.opportunityArray.length > 0" ng-cloak>
        正在加载中……
      </p>
      <p class="load-tips" ng-if="vm.allOppIsLoad && vm.opportunityArray && vm.opportunityArray.length>0">
        已经全部加载
      </p>

      <div class="no-filter-data" ng-if="(vm.opportunityArray && vm.opportunityArray.length <=0) && !vm.activeTab" ng-cloak>
        <img src="http://static.careerfrog.com.cn/cf-college/images/preferences/no-data.cb6d3808.png" alt="">
        <span>暂无搜索结果</span>
      </div>
      <div class="no-filter-data" ng-if="(vm.$USER && vm.$USER.isPreferenced && vm.opportunityArray.length <=0) && vm.activeTab === 1" ng-cloak>
        <img src="http://static.careerfrog.com.cn/cf-college/images/preferences/no-data.cb6d3808.png" alt="">
        <span>暂无搜索结果</span>
      </div>
    </section>
  </div>

</div>
