<div class="success-modal">
  <h1>
    提示消息
    <svg ng-click="vm.closeModal()" class="icon close-btn" aria-hidden="true"><use xlink:href="#icon-icon-delete"></use></svg>
  </h1>
  <h3>
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-gougou-"></use></svg>
    投递成功
  </h3>
  <div class="bg">

  </div>
  <p class="line-one">简历已火速到达HR邮箱</p>
  <p>你可前往个人中心查看最新投递进程！</p>
  <div class="btn-container">
    <a href="/account#!/application" class="success-btn">前往个人中心</a>
    <a href="javascript:;" class="success-btn"  ng-click="vm.closeModal()">知道了</a>
  </div>
</div>
