<div class="feedback" ng-class="{ 'no-scroll' : vm.showPreviewFlag}">
  <page-title title="意见反馈" customized-go-back="vm.gotoAccount"></page-title>
  <form class="feedback-form" name="feedbackForm" novalidate ng-show="!vm.feedbackSuccess">
    <div class="feedback-entry">
      <div class="feedback-entry-title">
        <div>
          <span>你的建议和吐槽</span>
        </div>
        <span class="error-msg" ng-messages="feedbackForm.comment.$error" ng-if='vm.submitted'>
          <span ng-message="required">必填</span>
          <span ng-message="maxlength">不超过300字</span>
        </span>
      </div>

      <textarea class="feedback-input comment" name="comment" ng-model="vm.comment" ng-required="true" placeholder="亲爱的用户你好，如果你对我们网站有任何的疑问或建议，都可以告诉我们。抱歉我们无法逐一回复，但我们一定会认真阅读。" ng-maxlength="300"></textarea>
    </div>
    <div class="feedback-entry" ng-show="!vm.noImageUpload">
      <div class="feedback-entry-title">
        <div>
          <span>图片上传（最多上传3张图）</span>
        </div>
      </div>
      <div class="image-container clearfix">
        <div class="image-entry" ng-repeat="attachment in vm.attachments">
          <div class="image-entry-container">
            <div ng-show="attachment.$valid" ngf-thumbnail="attachment" class="thumb" ngf-as-background="true" ng-click="vm.previewImage(attachment)"></div>
            <div class="upload-progress" ng-class="{'progress-start':attachment.progress >= 0, 'progress-success': attachment.progress == 100 && !attachment.uploadFailed,
            'progress-failure': attachment.progress == 100 && attachment.uploadFailed}" style="width:{{attachment.progress || 0}}%">
            </div>
            <div class="upload-failed-mask" ng-show="attachment.uploadFailed"></div>
          </div>
          <i class="image-del-btn iconfont icon-delete" ng-click="vm.deleteImage($index)"></i>
        </div>
        <div class="add-image-btn" ng-show="vm.attachments && vm.attachments.length < 3">
          <label for="add-image"></label>
          <input class="add-image" id="add-image" type="file" accept="image/*" ngf-select="vm.uploadImage($files, $invalidFiles)" multiple/>
          <i class="iconfont icon-tianjiatupian-1"></i>
        </div>
      </div>
    </div>

    <div class="feedback-entry">
      <div class="feedback-entry-title">
        <div>
          <span>联系邮箱</span>
        </div>
        <span class="error-msg" ng-messages="feedbackForm.email.$error" ng-if='vm.submitted'>
        <span ng-message="pattern">格式不对</span>
        </span>
      </div>
      <input type="text" class="feedback-input" ng-pattern='vm.emailReg' name="email" ng-model="vm.email" placeholder="你可以在此输入邮箱方便我们联系你">
    </div>

    <div class="feedback-entry feedback-tip">
      你也可以关注我们的服务号：<span>求职学堂小助手</span><br/> 直接在服务号后台进行反馈，回复更及时！
    </div>
    <button class="feedback-btn btn-lg primary" ng-click="vm.submit(feedbackForm)">留言</button>
  </form>
  <div class="feedback-success" ng-cloak ng-show="vm.feedbackSuccess">
    <div class="little-sister"></div>
    <div>我们已经收到你的反馈，后期会用邮箱回复你。<br/>感谢你的宝贵建议。</div>
  </div>
  <div class="image-preview" ng-show="vm.showPreviewFlag" ngf-background="vm.previewedImage">
    <i class="iconfont icon-icon-delete close-preview-btn" ng-click="vm.showPreviewFlag = false"></i>
    <div class="close-btn-mask"></div>
    <!-- <img ngf-src="vm.previewedImage" alt="" ng-pinch-zoom> -->
  </div>
</div>
