<div class="hot-company-material-container">
<!-- <div class="hot-company-material-container" id="hotCompany"> -->
  <div class="section-title">
    <span class="icon-bg">
      <i class="iconfont icon-icon-jingyan-"></i>
    </span>
    热门面经
    <div class="bg">
    </div>
  </div>
  <!-- <svg ng-cloak class="icon icon-pdf" aria-hidden="true"><use xlink:href="#icon-icon-jingyan-"></use></svg>热门面经 -->
  <h3 class="section-sub-title">
    热门公司
  </h3>
  <div class="hot-company-wrap">
    <div class="hot-company-container" ng-swipe-left="vm.swipeCompany('left')" ng-swipe-right="vm.swipeCompany('right')">
      <div class="hot-company" ng-style="vm.style" ng-repeat="hotCompany in vm.hotCompanyArray" ng-class="{'active': $index === vm.currentCompanyIndex}">
        <img ng-src="{{hotCompany.cover}}" alt="">
        <dl class="info">
          <dt>{{hotCompany.name}}面试经验</dt>
          <dd>作者：求职学堂团队</dd>
          <dd>更新：{{hotCompany.updatedAt | date: 'yyyy-MM-dd'}}</dd>
        </dl>
      </div>
    </div>
    <ul class="pagination">
      <li ng-repeat="hotCompany in vm.hotCompanyArray" ng-class="{'active': $index === vm.currentCompanyIndex}">
      </li>
    </ul>
  </div>

  <dl class="material" ng-repeat="m in vm.hotCompanyMaterialsArray" ng-click="vm.previewFile(m)">
    <dt ng-bind="m.fileName"></dt>
    <dd>更新：{{m.updatedAt | date: 'yyyy-MM-dd'}}</dd>
    <!-- <i class="icon-pdf"></i> -->
    <svg ng-cloak class="icon icon-pdf" aria-hidden="true"><use xlink:href="#icon-pdf-"></use></svg>
    <i class="iconfont icon-arrow-right"></i>
  </dl>
</div>
