<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>温馨提示</title>

    <script src="/scripts/uk-go-wechat-style.js"></script>
    <script src="http://static.careerfrog.com.cn/cf-college/scripts/vendor-flexible.f238aaa2.js"></script>
  </head>
  <body>

    <div class="wenxi">
      <h3>温馨提示</h3>
      <img src="http://static.careerfrog.com.cn/cf-college/images/university-tour/cartoon-figure.0316b9b2.png" alt="cartoon-figure" class="cartoon-figure">
      <p>请在微信打开该链接哦~</p>
      <img src="http://static.careerfrog.com.cn/cf-college/images/university-tour/logo-color.a5b113c0.png" alt="" class="logo">
    </div>

  </body>
</html>
