<!DOCTYPE html>
<html ng-app="App">

<head>
  <meta charset="utf-8">
  <title>面经锦囊_求职学堂</title>
  <meta name="description" content="八大行业面经锦囊,助你从容应对面试难关">
  <meta name="keywords" content="面经锦囊,面试锦囊,面试经验,求职礼包,面试准备,面试解析">
  <!-- <script src="/scripts/industry_interview_material-style.js"></script> -->
  <link rel="stylesheet" href="/scripts/industry_interview_material-main.css">
</head>

<body ng-controller="industryInterviewMaterialCtrl as vm" ng-cloak>
  <header class="clearfix page-header">
    <div class="wrap">
      <h1 class="logo"></h1>
      <div class="account-wrap">
        <account-nav user="vm.user" url="interview_material/{{vm.industryId}}"></account-nav>
      </div>
      <ul class="clearfix nav">
        <li><a href="/">名企实习</a></li>
        <li>
          <a href="/recruit_calendar">校招日历</a>
        </li>
        <li><a href="/discovery">求职探索</a></li>
        <li class="kit">
          <a href="/interview_material" class="kit active">面试锦集</a>
          <img src="/images/interview-material/kit.png" />
        </li>
      </ul>
    </div>
  </header>
  <div class="main-content">
    <div class="banner" ng-style="vm.bannerStyle">
        <h1>
          {{vm.currentIndustry.name}}
          <div class="border">

          </div>
        </h1>
    </div>
    <div class="search-container">
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-sousuo"></use></svg>
      <input ng-model="vm.params.keyword" ng-change="vm.search()" type="text" growing-track="true" placeholder="请输入公司">
      <a href="javascript:;" class="search-btn">搜索</a>
    </div>

    <!-- <img ng-if="!vm.materialArray.length" src="/images/nothing.png" alt="" class="placeholder"> -->
    <div class="" ng-if="!vm.params.keyword">
      <div class="" ng-if="vm.tipArray.length">
        <h2 class="search-list-title">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-jinnang-"></use></svg>
          面试锦囊
        </h2>
        <div class="search-list kit-list">
          <div class="kit" ng-repeat="tip in vm.tipArray">
            <!-- <div class="cover">
          </div> -->
          <img class="cover" ng-src="{{tip.cover}}" alt="" ng-click="vm.gotoPreview(tip)">
          <dl class="info">
            <dt class="multiline-nowrap" ng-click="vm.gotoPreview(tip)">{{tip.fileName}}</dt>
            <dd>作者：求职学堂团队</dd>
            <dd>更新：{{tip.updatedAt | date: 'yyyy-MM-dd'}}</dd>
          </dl>
          <div class="tool">
            <span ng-click="vm.gotoPreview(tip)">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-yulan-"></use></svg>
              预览 {{tip.viewCount}}
            </span>
            <i class="line">|</i>
            <span ng-click="vm.download(tip)">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-xiazai-"></use></svg>
              下载 {{tip.downloadCount}}
            </span>
          </div>
        </div>
      </div>
    </div>
      <div class="hot-company" ng-if="vm.hotCompanyArray.length">
        <h2 class="search-list-title">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-jingyan-"></use></svg>
          面试经验
        </h2>
        <div class="section-title">
          热门公司
        </div>
        <div class="swip-hot-company">
          <cfcarousel list="vm.hotCompanyArray" selectcompanycallbcak="vm.getHotCompanyMaterial(id, type)" company-id="vm.selectCompanyId" />
        </div>
        <ul class="search-list material-list" ng-if="vm.hotCompanyMaterial.length">
          <li ng-repeat="material in vm.hotCompanyMaterial">
            <span class="name" >
              <strong ng-click="vm.gotoPreview(material)">{{material.fileName}}</strong>
            </span>
            <span class="update">更新于 {{material.updatedAt | date: 'yyyy-MM-dd'}}</span>
            <span class="action preview" ng-click="vm.gotoPreview(material)">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-yulan-"></use></svg>
              预览
            </span>
            <i class="line">|</i>
            <span class="action" ng-click="vm.download(material)">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-xiazai-"></use></svg>
              下载
            </span>
          </li>
          <div class="pagination-wrap" ng-if="vm.hotCompanyPageParams.totalItems / vm.hotCompanyPageParams.itemsPerPage > 1">
            <uib-pagination id="pagination" class="pagination-sm clearfix" previous-text="上一页" next-text="下一页" total-items="vm.hotCompanyPageParams.totalItems" items-per-page="vm.hotCompanyPageParams.itemsPerPage" ng-model="vm.hotCompanyPageParams.pageNum" max-size="6"
            ng-change="vm.pageChanged('hotCompanyMaterial')" force-ellipses="true"></uib-pagination>
          </div>
        </ul>

      </div>
      <div class="material-list-wrap" ng-if="vm.moreCompanyMaterial.length">
        <div class="section-title" ng-if="vm.moreCompanyMaterial.length">
          更多公司
        </div>
        <ul class="search-list material-list" ng-if="vm.moreCompanyMaterial.length">
          <li ng-repeat="material in vm.moreCompanyMaterial">
            <span class="name" >
              <strong ng-click="vm.gotoPreview(material)">{{material.fileName}}</strong>
            </span>
            <span class="update">更新于 {{material.updatedAt | date: 'yyyy-MM-dd'}}</span>
            <span class="action preview" ng-click="vm.gotoPreview(material)">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-yulan-"></use></svg>
              预览
            </span>
            <i class="line">|</i>
            <span class="action" ng-click="vm.download(material)">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-xiazai-"></use></svg>
              下载
            </span>
          </li>
          <div class="pagination-wrap" ng-if="vm.moreCompanyPageParams.totalItems / vm.moreCompanyPageParams.itemsPerPage > 1">
            <uib-pagination id="pagination" class="pagination-sm clearfix" previous-text="上一页" next-text="下一页" total-items="vm.moreCompanyPageParams.totalItems" items-per-page="vm.moreCompanyPageParams.itemsPerPage" ng-model="vm.moreCompanyPageParams.pageNum" max-size="6"
            ng-change="vm.pageChanged('moreCompany')" force-ellipses="true"></uib-pagination>
          </div>
        </ul>
      </div>
    </div>

    <div class="" ng-if="vm.params.keyword">
      <img ng-if="!vm.searchMaterialsArray.length && !vm.searchTipsArray.length" src="/images/nothing.png" alt="" class="placeholder">
      <div class="" ng-if="vm.searchTipsArray.length">
        <h2 class="search-list-title">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-jinnang-"></use></svg>
          面试锦囊
        </h2>
        <div class="search-list kit-list">
        <div class="kit" ng-repeat="tip in vm.searchTipsArray">
          <img ng-click="vm.gotoPreview(tip)" class="cover" ng-src="{{tip.cover}}" alt="">
          <dl class="info">
            <dt class="multiline-nowrap" ng-click="vm.gotoPreview(tip)">{{tip.fileName}}</dt>
            <dd>作者：求职学堂团队</dd>
            <dd>更新：{{tip.updatedAt | date: 'yyyy-MM-dd'}}</dd>
          </dl>
          <div class="tool">
            <span ng-click="vm.gotoPreview(tip)">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-yulan-"></use></svg>
              预览 {{tip.viewCount}}
            </span>
            <i class="line">|</i>
            <a ng-click="vm.download(tip)">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-xiazai-"></use></svg>
              下载 {{tip.downloadCount}}
            </a>
          </div>
        </div>
      </div>
      </div>

      <div class="material-list-wrap" ng-if="vm.searchMaterialsArray.length">
        <h2 class="search-list-title">
          <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-jingyan-"></use></svg>
          面试经验
        </h2>
        <ul class="search-list material-list">
          <li ng-repeat="material in vm.searchMaterialsArray">
            <span class="name" >
              <strong ng-click="vm.gotoPreview(material)">{{material.fileName}}</strong>
            </span>
            <span class="update">更新于 {{material.updatedAt | date: 'yyyy-MM-dd'}}</span>
            <span class="action preview" ng-click="vm.gotoPreview(material)">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-yulan-"></use></svg>
              预览
            </span>
            <i class="line">|</i>
            <a class="action" ng-click="vm.download(material)">
              <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-xiazai-"></use></svg>
              下载
            </a>
          </li>
          <div class="pagination-wrap" ng-if="vm.params.materialTotalItems / vm.params.itemsPerPage > 1">
            <uib-pagination id="pagination" class="pagination-sm clearfix" previous-text="上一页" next-text="下一页" total-items="vm.params.materialTotalItems" items-per-page="vm.params.itemsPerPage" ng-model="vm.params.pageNum" max-size="6"
              ng-change="vm.pageChanged('search')" force-ellipses="true"></uib-pagination>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <%- include('../../templates/footer'); %>
    <script src="//at.alicdn.com/t/font_302276_v3bjsrdmxxmholxr.js"></script>
    <script src="/scripts/industry_interview_material-main.js"></script>
    <script>
      angular.module('App')
        .constant('$USER', <%- JSON.stringify(user) %>)
        .constant('API_BASE_URL', '<%= API_BASE_URL %>')
        .constant('CF_FILE_BASE_URL', '<%= CF_FILE_BASE_URL %>');
    </script>
</body>

</html>
