<div class="favorite-wrap">
  <page-title title="我的收藏" customized-go-back="vm.gotoAccount"></page-title>
  <ul class="navs">
    <li ng-class="{active: vm.status === 'opportunity'}" ng-click="vm.toggleStatus('opportunity')">职位</li>
    <li ng-class="{active: vm.status === 'question'}" ng-click="vm.toggleStatus('question')">问答</li>
  </ul>
  <div class="tab-wrap" ng-show="vm.status === 'opportunity'">
    <div class="opp-entry" ng-repeat="opp in vm.oppList track by $index" ng-class="{'is-applied': opp.opportunity.applied, 'is-outdated': opp.opportunity.status == 3}">
      <div class="opp-card page-padding" ng-click="vm.goOpp(opp.opportunity)">
        <div class="avatar-container">
          <img ng-src="{{opp.opportunity.companyImage}}" alt="">
        </div>
        <div class="opp-info">
          <div class="opp-title">{{opp.opportunity.position}}</div>
          <div class="opp-info1">{{opp.opportunity.location}}<span> | </span>{{opp.opportunity.company}}</div>
          <div class="opp-info2">{{opp.opportunity.industry}}</div>
        </div>
        <div class="opp-time">{{opp.opportunity.publishDate | date : 'yyyy-MM-dd'}}</div>
      </div>
      <div class="opp-btns">
        <div class="cancel-favor opp-btn" ng-click="vm.unfavorOpp(opp.opportunity, $index)">取消收藏</div>
        <div class="separator">|</div>
        <div class="go-detail opp-btn" ng-click="vm.goOpp(opp.opportunity)">前往投递</div>
      </div>
      <img src="/images/account/outdated.png" alt="" ng-if="opp.opportunity.status == 3">
    </div>
    <div class="no-items" ng-if="vm.oppList && vm.oppList.length <= 0">
      <div class="">
        <img src="/images/account/no-opp.png" alt="">
      </div>
      <div class="no-item-desc">
        <p>你还没有收藏任何职位，</p>
        <p>快去看看名企职位吧！</p>
      </div>
      <a type="button" name="button" class="blue-btn apply-btn" ui-sref="intern-opportunity">去看名企职位</a>
    </div>
  </div>
  <div class="tab-wrap" ng-show="vm.status === 'question'">
    <div class="question-entry page-padding" ng-repeat="qs in vm.questionList track by $index" ng-click="vm.goQuestion(qs.question)" ui-sref="discovery.question-detail({
      id: qs.question.id
    })">
      <div class="question-content">
        <div class="question-label">Q:</div>
        <div class="question-text">{{qs.question.title}}</div>
      </div>
      <div class="tag-container">
        <p class="tag">
          <span ng-bind="qs.question.industry" ng-if="qs.question.industry"></span>
          <span ng-bind="qs.question.stage" ng-if="qs.question.stage"></span>
        </p>
        <div class="unfavor-btn" ng-click="vm.unfavorQuestion(qs.question, $index, $event)">
          取消收藏
        </div>
      </div>
    </div>
    <div class="no-items" ng-if="vm.questionList && vm.questionList.length <= 0">
      <div class="">
        <img src="/images/account/no-question.png" alt="">
      </div>
      <div class="no-item-desc">
        <p>你还没有收藏任何问答，</p>
        <p>快去Mark几个吧！</p>
      </div>
      <a type="button" name="button" class="blue-btn apply-btn" ui-sref="discovery.qa">去看弹幕问答</a>
    </div>
  </div>
</div>
