<section class="application-page">
  <h1>投递进程</h1>
  <p class="warn-tip">
    <svg class="icon" aria-hidden="true"><use xlink:href="#icon-icon-zhuyi-"></use></svg> 求职学堂与企业HR建立合作关系，在求职学堂平台投递的职位，简历将直达HR邮箱！
  </p>
  <ul class="tab-list">
    <li ng-class="{'active': vm.status === 'all'}" ng-click="vm.getList('all')">全部（{{vm.allTotalItems}}）</li>
    <li ng-class="{'active': vm.status === 'success'}" ng-click="vm.getList('success')">投递成功</li>
    <li ng-class="{'active': vm.status === 'checked'}" ng-click="vm.getList('checked')" style="position: relative">被查看<span class="red-circle" ng-if="vm.user.applicationCheckedNotice"></span></li>
  </ul>
  <div class="progress-wrap">
    <div class="progress-block" ng-repeat="i in vm.progresses">
      <div class="row">
        <a ng-href="/opportunity/{{i.opportunity.id}}" class="position-name" ng-bind="i.opportunity.position"></a>
        <span class="datetime">{{i.checkedAt?i.checkedAt:i.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</span>
      </div>
      <div class="row content-wrap">
        <span class="company" ng-bind="i.opportunity.company.name"></span>
        <span class="location">
          <svg class="icon" style="margin-right:0" aria-hidden="true"><use xlink:href="#icon-zuobiao"></use></svg>
          <span ng-repeat="l in i.opportunity.locations">{{l.name}} </span>
        </span>
        <span class="status pull-right" ng-if="!i.checkedAt">
          <span>投递成功</span>
        </span>
        <span class="status pull-right pointer" ng-if="i.checkedAt" ng-click="i.show = !i.show">
          <span>被查看</span>
          <svg class="icon" aria-hidden="true" ng-if="!i.show"><use xlink:href="#icon-yuanjiantouxia"></use></svg>
          <svg class="icon" aria-hidden="true" ng-if="i.show"><use xlink:href="#icon-yuanjiantoushang"></use></svg>
        </span>
      </div>
      <div class="row" style="color: #999">
        <div class="pull-left">投递简历：</div>
        <ul class="resume-list">
          <li ng-repeat="r in i.resumes" ng-bind="r.originalName"> </li>
        </ul>
        <!-- <div class="resume-name" ng-bind="i.resume.originalName"></div> -->
      </div>
      <div class="detail" ng-if="i.show">
        <div class="yellow-circle"></div>
        {{i.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}
        <div class="status border-left">投递成功</div>
        <div class="yellow-circle"></div>
        {{i.checkedAt | date:'yyyy-MM-dd HH:mm:ss'}}
        <div class="status">HR查看了你的简历</div>
        <div class="row">
          <div class="tip">温馨提示：若简历通过审核，HR将直接与你联系。若未联系，可以再试试其他机会哦~</div>
          <button type="button" name="button" class="fold-btn" ng-click="i.show = !i.show">收起</button>
        </div>
      </div>
    </div>
    <div class="no-items" ng-if="!vm.progresses || vm.progresses.length === 0">
      <div class="">
        <img src="http://static.careerfrog.com.cn/cf-college/images/no-application.6a5aa1a6.png" alt="">
      </div>
      <a ng-if="vm.status === 'all'" type="button" name="button" class="blue-btn apply-btn" href="/">投递名企职位</a>
    </div>
  </div>
  <div class="pagination-wrap" ng-if="vm.totalItems > vm.itemsPerPage">
    <uib-pagination id="pagination" class="pagination-sm clearfix" previous-text="上一页" next-text="下一页" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.pageNum" max-size="10" ng-change="vm.pageChanged()" force-ellipses="true"></uib-pagination>
  </div>

</section>
