<div class="qa-detail-container">
  <page-title title="查看回答" customized-go-back="vm.goBack"></page-title>
  <div class="question page-padding">
    <div class="question-label">Q:</div>
    <div class="question-content">{{vm.content.title}}</div>
    <div class="tag-container">
      <p class="tag">
        <span ng-bind="vm.content.industry.name" ng-if="vm.content.industry"></span>
        <span ng-bind="vm.content.stage.name" ng-if="vm.content.stage"></span>
      </p>
      <div class="favor-btn" ng-class="{'is-favored': vm.isFavored}" ng-click="vm.toggleFavorite()" ng-if="!vm.isUserQuestion">
        <i class="iconfont icon-icon-shoucang-" aria-hidden="true"></i>{{vm.isFavored? '已收藏':'收藏'}}
      </div>
    </div>
  </div>
  <div class="answers page-padding">
    <div class="answers-header">目前共 <span>{{vm.content.answers.length}}</span> 个回答 <div class="question-btn btn-sm primary" ng-click="vm.askQuestion()">我要提问</div></div>
    <div class="answer-list">
      <div class="answer" ng-repeat="answer in vm.content.answers">
        <div class="answer-time">
          <span>回答于</span>
           {{answer.created_at | date : 'yyyy-MM-dd'}}
         </div>
        <div class="answer-title"><i class="iconfont icon-qiuzhidaxue-" aria-hidden="true"></i>求职学堂专业回复</div>

        <pre class="answer-content" ng-bind-html="answer.content"></pre>
      </div>
      <div class="answer" ng-if="vm.isUserQuestion && (!vm.content.answers || vm.content.answers.length <=0)">
        <div class="answer-title">
          <i class="iconfont icon-qiuzhidaxue-" aria-hidden="true"></i>求职学堂专业回复</div>
        <pre class="answer-content">求职学堂专家将在48小时内给予回复，请耐心等待。可关注服务号：求职学堂小助手，第一时间收到回复通知哦～</pre>
      </div>
    </div>
  </div>
  <div class="notice" ng-if="vm.fromShare">
    <div class="notice-content">
      <img src="http://static.careerfrog.com.cn/cf-college/images/qr-code.3bcc73d3.jpg" alt="求职学堂">
      <div class="notice-text">
        <p>◇ 想看更多精彩求职问答 ◇</p>
        <span>- 长按识别二维码<br>- 关注求职学堂服务号</span>
      </div>
    </div>
  </div>
</div>
