<div class="application-wrap">
  <page-title title="投递进程" customized-go-back="vm.gotoAccount"></page-title>
  <ul class="navs">
    <li ng-class="{active: vm.status === 'all'}" ng-click="vm.getList({status: 'all'})">全部（{{vm.allTotalItems}}）</li>
    <li ng-class="{active: vm.status === 'success'}" ng-click="vm.getList({status: 'success'})">投递成功</li>
    <li ng-class="{active: vm.status === 'checked'}" ng-click="vm.getList({status: 'checked'})">被查看<span class="red-circle checked-notice" ng-if="vm.user.applicationCheckedNotice"></span></li>
  </ul>
  <div class="tab-wrap" ng-if="vm.progresses.length > 0" scroll-load="vm.loadMore()" >
    <div class="progress-block page-padding" ng-repeat="i in vm.progresses">
      <div class="clearfix" style="margin: 0">
        <span class="datetime">{{i.checkedAt?i.checkedAt:i.createdAt | date:'yyyy-MM-dd HH:mm'}}</span>
        <span class="status pull-right" ng-if="!i.checkedAt">投递成功</span>
        <span class="status pull-right" ng-if="i.checkedAt" ng-click="i.show = !i.show">
          <span>被查看</span>
          <i class="iconfont icon-yuanjiantouxia" ng-if="!i.show" style="color: #cad2db" aria-hidden="true"></i>
          <i class="iconfont icon-yuanjiantoushang" ng-if="i.show" style="color: #cad2db" aria-hidden="true"></i>
        </span>
      </div>
      <div class="clearfix content-wrap">
        <div class="logo avatar">
          <img ng-src="{{i.opportunity.company.imageUrl}}" alt="">
        </div>
        <div class="context">
          <a ng-href="/opportunity/{{i.opportunity.id}}" class="position-name text-nowrap" ng-bind="i.opportunity.position"></a>
          <div class="company text-nowrap" ng-bind="i.opportunity.company.name"></div>
          <div class="location text-nowrap">
            <i class="iconfont icon-zuobiao" aria-hidden="true"></i>
            <span ng-repeat="l in i.opportunity.locations">{{l.name}} </span>
          </div>
        </div>
      </div>
      <div class="detail" ng-if="i.show">
        <div class="yellow-circle"></div>
        <span class="detail-tag">投递成功</span>
        <div class="time border-left">{{i.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        <div class="yellow-circle"></div>
        <span class="detail-tag">HR查看了你的简历</span>
        <div class="time">{{i.checkedAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
        <div class="tip">温馨提示：若简历通过审核，HR将直接与你联系。若未联系，可以再试试其他机会哦~</div>
        <div class="clearfix" style="margin: 0">
          <button type="button" name="button" class="fold-btn" ng-click="i.show = !i.show">收起</button>
        </div>
      </div>
    </div>
  </div>
  <div class="no-items" ng-if="(!vm.progresses || vm.progresses.length === 0)">
    <div class="">
      <img src="http://static.careerfrog.com.cn/cf-college/images/no-application.6a5aa1a6.png" alt="">
    </div>
    <a ng-if="vm.status === 'all'" type="button" name="button" class="blue-btn apply-btn" ui-sref="intern-opportunity">投递名企职位</a>
  </div>
</div>
