<div class="apply-modal" ng-click="vm.closePrefixList($event)">
  <h1>
    简历投递
    <svg ng-click="vm.closeModal()" class="icon close-btn" aria-hidden="true"><use xlink:href="#icon-icon-delete"></use></svg>
  </h1>

  <div class="input-container" ng-class="{'error-status': (!vm.paramsStatus.title || !vm.applyParams.title.length) && vm.applyStatus}">
    <label for="">
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-pen-"></use></svg>
      请输入邮件标题
    </label>
    <input type="text" name="" value="" placeholder="" ng-model="vm.applyParams.title" ng-change="vm.validateForm()">
    <strong ng-if="!vm.applyParams.title.length && vm.applyStatus && vm.paramsStatus.title">必填</strong>
    <strong ng-if="!vm.paramsStatus.title && vm.applyStatus">字符过长</strong>
  </div>
  <div class="tips-wrap" id="test">
    <p class="tips">请输入CF内推+姓名+学校+专业</p>
    <p class="tips">例：CF内推+张三+清华大学+食品工程</p>
  </div>

  <div class="input-container upload-resume-container">
    <label for="">
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-shubiao-"></use></svg>
      请选择你要投递的简历
    </label>
    <span>仅支持word/pdf格式</span>
    <a href="javascript:;"  ngf-select="vm.uploadResume($files)">上传简历</a>
    <strong  ng-if="!vm.paramsStatus.resume && vm.applyStatus">必选</strong>
  </div>
  <div class="no-resume-tip" ng-if="!vm.resumeArray.length">

  </div>
  <ul class="resume-list" ng-if="vm.resumeArray.length">
    <li ng-repeat="r in vm.resumeArray">
      <input type="radio" name="resume" ng-click="vm.selectResume(r, $event)" id="resume{{r.id}}" ng-model="vm.applyParams.attachmentId"  ng-value="r.id">
      <label for="resume{{r.id}}" ng-click="vm.selectResume(r, $event)">
        <h3>{{r.originalName}}</h3>
      </label>
      <strong>
        <a href="javascript:;" ng-click="vm.gotoPreview(r)">预览</a>
        |
        <a href="javascript:;" ng-click="vm.deleteResume(r)">删除</a>
      </strong>
    </li>
  </ul>

  <div class="input-container mobile-input" ng-class="{'error-status': (!vm.paramsStatus.mobile || !vm.applyParams.mobile) && vm.applyStatus}">
    <label for="">
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-pen-"></use></svg>
      请输入你的手机
    </label>
    <prefix-selector-for-pc call-back="vm.validateForm()" list-status="vm.prefixListStatus" prefix="vm.selectedPrefix"></prefix-selector-for-pc>
    <input type="text" name="" value="" placeholder="请填写" ng-model="vm.applyParams.mobile" ng-change="vm.validateForm()">
    <strong ng-if="!vm.applyParams.mobile && vm.applyStatus && vm.paramsStatus.mobile">必填</strong>
    <strong  ng-if="!vm.paramsStatus.mobile && vm.applyStatus">格式错误</strong>
  </div>

  <div class="input-container" ng-class="{'error-status': (!vm.paramsStatus.email || !vm.applyParams.email.length) && vm.applyStatus}">
    <label for="">
      <svg class="icon" aria-hidden="true"><use xlink:href="#icon-pen-"></use></svg>
      请输入你的邮箱
    </label>
    <input type="text" name="" value="" placeholder="请填写" ng-model="vm.applyParams.email" ng-change="vm.validateForm()">
    <strong ng-if="!vm.applyParams.email.length && vm.applyStatus && vm.paramsStatus.email">必填</strong>
    <strong  ng-if="!vm.paramsStatus.email && vm.applyStatus">格式错误</strong>
  </div>
  <p class="error-message">
    关于职位的后续反馈将通过邮箱通知！请确认输入无误哦~
  </p>
  <a href="javascript:;" class="apply-btn" ng-click="vm.apply()">立即投递</a>

  <div class="file-error-modal" ng-if="vm.filerErrorModalStatus">
    <svg ng-click="vm.closefilerErrorModal()" class="icon close-btn" aria-hidden="true"><use xlink:href="#icon-icon-delete"></use></svg>
    <p>文件不符合规则：仅支持word/pdf格式，文件需小于4M</p>
    <a href="javascript:;" class="i-kown-btn" ng-click="vm.closefilerErrorModal()" >知道了</a>
  </div>
  <div class="loading" ng-hide="!vm.loading">
    <svg width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" class="spinner"><circle fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30" class="spinner-circle"></circle></svg>
  </div>
</div>
