<div class="file-preview-container">

    <!-- <div class="file-bar clearfix" style="height: 40px;">
        <span class="file-type-icon" ng-class="vm.file.extName"></span>
        <h3 class="file-name" style="margin-top: 12px;">{{vm.file.name}}</h3>
        <a class="download-btn" ng-href="{{vm.file.download}}"><span></span>下载</a>
    </div> -->

    <div class="default-view" ng-show="vm.noPreview">
      <img class="cant-preview-tip"  ng-show="!vm.previewState" src="/images/forg-cant-preview.png" alt="">
    </div>
    <div class="file-viewer" ng-show="vm.file.type">
        <div class="img-viewer" ng-show="vm.file.type === 'img'">
            <img id="image-preview" ng-src="{{vm.imageUrl}}" alt="{{vm.material.fileName}}">

            <ul id="tool-bar" class="clear-float">
                <li ng-click="vm.zoom('out')" class="zoom-out">
                    <a href="javascript:;"></a>
                </li>
                <li>
                    <a href="javascript:;" ng-bind="vm.percent+'%'"></a>
                </li>
                <li ng-click="vm.zoom('in')">
                    <a href="javascript:;"></a>
                </li>
                <li ng-click="vm.rotate()">
                    <a href="javascript:;"></a>
                </li>
            </ul>
        </div>
        <div class="pdf-viewer" ng-show="vm.file.type === 'pdf' && !vm.IEMode">
            <div id="pdfobject">

            </div>
        </div>
        <div class="pdf-viwer-images" ng-if="vm.IEMode">
          <div class="img-container" ng-repeat="i in vm.file.images">
            <p>Page {{$index + 1}}/{{vm.file.images.length}}</p>
            <img ng-src="{{i.url}}" alt="" id="{{i.id}}">
          </div>
        </div>
    </div>

    <div id="loader" class="spinner" ng-show="vm.loadState" ng-if="!vm.noPreview">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>
