<div class="preference">
  <div class="back-btn">
    <i class="iconfont icon-arrow-left-" aria-hidden="true" ng-click="vm.back()"></i>
  </div>
  <ul class="pick-list clearfix index{{vm.currentIndex}}">

    <li class="pick-entry">
      <h3>你对哪些行业感兴趣？</h3>
      <div class="pick-entry-info">我们会根据你的兴趣点为你推荐推荐职位和问答</div>
      <div class="preference-pickers">
        <div class="alert-message" ng-show="!vm.preferenceObject.industryIds.length && vm.nextTouched">必选</div>
        <div class="avatar" style="background-image: url('{{vm.$USER.headImgUrl || 'http://static.careerfrog.com.cn/cf-college/images/default-portrait.6d8edb24.jpg'}}')"></div>
        <ul class="preference-btns" round-circle-layout="vm.animateTrigger[0]">
          <li class="preference-btn" ng-repeat="entry in vm.industryList" ng-click="vm.pickReference(entry,vm.currentIndex)" ng-class="{selected: entry.selected}">{{entry.name}}</li>
        </ul>
      </div>
    </li>
    <li class="pick-entry">
      <h3>你对哪些职能感兴趣？</h3>
      <div class="pick-entry-info">我们会根据你的兴趣点为你推荐推荐职位和问答</div>
      <div class="preference-pickers">
        <div class="alert-message" ng-show="!vm.preferenceObject.positionIds.length && vm.nextTouched">必选</div>
        <div class="avatar" style="background-image: url('{{vm.$USER.headImgUrl || 'http://static.careerfrog.com.cn/cf-college/images/default-portrait.6d8edb24.jpg'}}')"></div>
        <ul class="preference-btns" round-circle-layout="vm.animateTrigger[1]">
          <li class="preference-btn" ng-repeat="entry in vm.positionList" ng-click="vm.pickReference(entry,vm.currentIndex)" ng-class="{selected: entry.selected}">{{entry.name}}</li>
        </ul>
      </div>
    </li>
    <li class="pick-entry">
      <h3>你想要的职位在哪些城市？</h3>
      <div class="pick-entry-info">我们会根据你的兴趣点为你推荐推荐职位和问答</div>
      <div class="preference-pickers">
        <div class="alert-message" ng-show="!vm.preferenceObject.locationIds.length && vm.nextTouched">必选</div>
        <div class="avatar" style="background-image: url('{{vm.$USER.headImgUrl || 'http://static.careerfrog.com.cn/cf-college/images/default-portrait.6d8edb24.jpg'}}')"></div>
        <ul class="preference-btns" round-circle-layout="vm.animateTrigger[2]">
          <li class="preference-btn" ng-repeat="entry in vm.locationList" ng-click="vm.pickReference(entry,vm.currentIndex)" ng-class="{selected: entry.selected}">{{entry.name}}</li>
        </ul>
      </div>
    </li>
    <li class="pick-entry">
      <h3>你在哪些求职阶段存在疑惑？</h3>
      <div class="pick-entry-info">我们会根据你的兴趣点为你推荐推荐职位和问答</div>
      <div class="preference-pickers">
        <div class="alert-message" ng-show="!vm.preferenceObject.stageIds.length && vm.nextTouched">必选</div>
        <div class="avatar" style="background-image: url('{{vm.$USER.headImgUrl || 'http://static.careerfrog.com.cn/cf-college/images/default-portrait.6d8edb24.jpg'}}')"></div>
        <ul class="preference-btns" round-circle-layout="vm.animateTrigger[3]">
          <li class="preference-btn" ng-repeat="entry in vm.stageList" ng-click="vm.pickReference(entry,vm.currentIndex)" ng-class="{selected: entry.selected}">{{entry.name}}</li>
        </ul>
      </div>
    </li>
  </ul>
  <div class="progress-ctrl">
    <ul class="progress-tabs">
      <li ng-class="{active: vm.currentIndex === 0}">行业选择</li>
      <li ng-class="{active: vm.currentIndex === 1}">职能选择</li>
      <li ng-class="{active: vm.currentIndex === 2}">城市选择</li>
      <li ng-class="{active: vm.currentIndex === 3}">认知维度</li>
    </ul>
    <div class="next-btn" ng-click="vm.pickNext()">{{vm.currentIndex === 3 ? '完成' : '下一步'}}</div>
  </div>
</div>